---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Button } from "../../components/Button";
---

<html>
  <Head
    title="Tire Calligraphy - TC Tote Bag"
    url="https://tirecalli.com/black-tc-tote-bag/"
    description="A simple black tote bag. But we think everybody should have one. Because it’s a staple everyday piece. A neutral-gender item."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1"><img src="/img/Black-TC-Tote-bag/black-tote-bag-back.webp" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-2"><img src="/img/Black-TC-Tote-bag/black-tote-bag.webp" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3"><img src="/img/Black-TC-Tote-bag/black-tote-bag-detail.webp" alt="tirecalli-picture" loading="lazy" /></a>
            <a href="details.html#photo-4"
              ><img src="/img/Black-TC-Tote-bag/girl-in-grey-tshirt-with-tote-bag-and-laptop.webp" alt="tirecalli-picture" loading="lazy" />
            </a>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>Black TC Tote bag</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: <s>50€</s> 30€</p>
          </div>
          <div class="product__item product__item--cta">
            <Button client:load id={100} />
          </div>
          <div class="product__item product__item--sizing-chart">
            <div class="btn-area">
              <label class="btn" for="open-pop">Sizing Chart</label>
            </div>
            <div class="pop-area">
              <input class="modal-state" id="open-pop" type="checkbox" />
              <div class="modal">
                <label class="modal_bg" for="open-pop"></label>
                <div class="modal_inner">
                  <label class="modal_close" for="open-pop"></label>
                  <table>
                    <tr>
                      <th colspan="2">Dobokh Pant</th>
                    </tr>
                    <tr>
                      <td>cm / in</td>
                      <td>Dimensions</td>
                    </tr>
                    <tr>
                      <td class="label">Depth</td>
                      <td>40 / 15.8</td>
                    </tr>
                    <tr>
                      <td class="label">Width</td>
                      <td>49 / 19.3</td>
                    </tr>
                    <tr>
                      <td class="label">Bottom</td>
                      <td>8 / 3.14</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--description">
            <p>
              A simple black tote bag. But we think everybody should have one. Because it’s a staple everyday piece. A neutral-gender item. Made from 100% Twill
              cotton for durability. Being it a visit to the market for fresh produce, carrying your laptop and books to class or work, this one will serve you
              well. And being black and minimal it will blend perfectly with each of your moods and styles. Almost going unnoticed until one sees the premium
              glossy print featured on both sides. Additional inner pockets make it easy to manipulate your #everydaycarry.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--panel-1">
                  <ul class="accordion__list accordion-panel-1__list">
                    <li>A gender-neutral item</li>
                    <li>Smaller inner pockets</li>
                    <li>Color: Black</li>
                    <li>Material: 100% Twill cotton (450 g, 15.87oz)</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size</label>
                <div class="accordion__content accordion__content--panel-2">
                  <ul class="accordion__list accordion-panel-2__list">
                    <li>Depth: 40 cm / 15.75 in</li>
                    <li>Width: 49 cm / 19.29 in</li>
                    <li>Bottom: 8 cm / 3.14 in</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--panel-3">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section></section>
    </main>
    <Footer />
    <script src="../../js/app.js"></script>
  </body>
</html>
