.form-entry input,
.form-entry textarea {
  /* height: 100%;
  font-family: inherit;
  color: black;
  outline: none;
  background-color: transparent; */
  width: 100%;
  border: none;
  padding-top: 30px;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  font-weight: 200;
  pointer-events: none;
  border-bottom: 1px solid black;
  color: black;
}

/* label::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
} */

input:focus + label span,
input:not(:placeholder-shown) + label span,
textarea:focus + label span,
textarea:not(:placeholder-shown) + label span {
  transform: translateY(-150%);
  font-size: 12px;
}

/* input:focus + label::after,
input:not(:placeholder-shown) + label::after,
textarea:focus + label::after,
textarea:not(:placeholder-shown) + label::after {
  transform: translateX(0%);
} */
