.form-entry input,
.form-entry textarea {
  width: 100%;
  border: none;
  padding-top: 30px;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  font-weight: 200;
  pointer-events: none;
  border-bottom: 1px solid black;
  color: black;
}

input:focus + label span,
input:not(:placeholder-shown) + label span,
textarea:focus + label span,
textarea:not(:placeholder-shown) + label span {
  transform: translateY(-150%);
  font-size: 12px;
}
