---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <img src="img/girl-in-upcycled-mint-dress-back.webp" alt="tirecalli-picture" />
            <img src="img/mint-hoodie-back.webp" alt="tirecalli-picture" />
          </div>
          <div class="product__figures">
            <img src="img/mint-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
            <img src="img/mint-hoodie-patch-detail.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>Mint Moth Upcycled Dress</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 40 eur</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to basket</p>
          </div>
          <div class="product__item product__item--sizes">
            <button
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=NCK2QJ2CJBUZ8"
              ;""
            >
              <span>M</span>
            </button>
            <!-- <button class="button button--size button--flex" onclick='window.location.href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7YUWHDR5ZKFZG";'>
                        <span>L</span>
                    </button>
                    <button class="button button--size button--flex" onclick='window.location.href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=V5UTDS27L765N";'>
                        <span>XL</span>
                    </button> -->
          </div>
          <div class="product__item product__item--description">
            <p>
              Our first upcycled piece. Even though still available as a gender neutral hoodie, we decided to extend the life of this piece and offer two new
              products for women - Moth Croptop and Moth Dress.
            </p>
            <p>
              We let you customize your piece, considering the diy principle we so fully believe in; "T-Shirt sleeves", without sleeves, with or without the
              hood, you are your own designer with this one! Contact us via email for details, we will provide customization diy style, and free of additional
              charge.
            </p>
            <p>As the hoodie was designed oversized, we suggest you size down for the croptop and size up for the dress.</p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--details">
                  <ul class="accordion__list accordion-details__list">
                    <li>A gender-neutral cut</li>
                    <li>Back design</li>
                    <li>Unique patch placement</li>
                    <li>Color: Green (Mint)</li>
                    <li>Material: 80% cotton fleece (300 g, 10.6oz), 20% polyester</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--size">
                  <ul class="accordion__list accordion-size__list">
                    <li>Iva is wearing size L and is 170cm/5.6 ft tall</li>
                    <li>Oversized fit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--shipping">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal.html">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
