---
import Head from "../../components/Head.astro";
---

<html>
  <Head />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
    </section>
    <section id="photo-2">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-front-detail.webp" alt="tirecalli-picture" />
    </section>
    <section id="photo-3">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-side-detail.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-4">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/man-in-sand-brown-licitar-t-shirt-back.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-5">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/man-in-sand-brown-licitar-t-shirt-back-full-body.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-6">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/sand-brown-licitar-t-shirt-label-detail-2.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-7">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/sand-brown-licitar-t-shirt-label-detail.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-8">
      <img src="/img/Sand-Brown-Licitar-T-Shirt/sandfront-resized.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-9">
      <img src="/img/Nude-Pink-Licitar-T-Shirt/pinkbacklay-resized.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-10">
      <img src="/img/Nude-Pink-Licitar-T-Shirt/pinkclosefront-resized.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-11">
      <img src="/img/Nude-Pink-Licitar-T-Shirt/pinkfront-resized.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
  </body>
</html>
