---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Buttons } from "../../components/Buttons";

const buttons = [
  { id: 601, size: "S" },
  { id: 602, size: "M" },
  { id: 603, size: "L" },
  { id: 604, size: "XL" },
];
---

<html>
  <Head
    title="Tire Calligraphy - Sand Brown Licitar T-Shirt"
    url="https://tirecalli.com/basic-denim-overall-pant/"
    description="This brown french terry T-shirt features a toned-down front embroidery detail, for a calm, premium look. Located at front bottom, a simple black and white, tiny Heart patch detail, and a large, screen-printed back piece."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-side.webp" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-2">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/man-in-sand-brown-licitar-t-shirt-back-body.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-4">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/man-in-sand-brown-licitar-t-shirt-back.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-5">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-front.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-6">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/sand-brown-licitar-t-shirt-label-detail-2.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-7">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/sand-brown-licitar-t-shirt-label-detail.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-8">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/sand-brown-licitar-t-shirt-front.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>SAND BROWN LICITAR T-SHIRT</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: <s>70€</s> 42€</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to bag</p>
          </div>
          <div class="product__item product__item--sizes">
            <Buttons client:load items={buttons} />
          </div>
          <div class="product__item product__item--description">
            <p class="mt">A toned-down front embroidery detail, for a calm, premium look. Coming to real life only on the second or third glance.</p>
            <p>Or just one gentle touch.</p>
            <p>
              Located at front bottom, a simple black and white, almost “yin-yang-esque” tiny Heart patch detail, as a counterpoint to the enlarged screen
              printed, screaming back piece.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--panel-1">
                  <ul class="accordion__list accordion-panel-1__list">
                    <li>A gender-neutral cut</li>
                    <li>Back design screen print application</li>
                    <li>Front chest embroidery detail</li>
                    <li>Front bottom patch detail</li>
                    <li>Color: Sand Brown</li>
                    <li>Material: 70% French terry heavy cotton (280 gram, 9.8 oz), 30% polyester</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--panel-2">
                  <ul class="accordion__list accordion-panel-2__list">
                    <li>Relaxed fit</li>
                    <li>Jules is wearing size S and is 167cm/5.4 ft tall</li>
                    <li>Boban is wearing M and is 187cm /6.13 ft tall</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--panel-3">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/Basic-Denim-Jacket/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Jacket</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../../js/app.js"></script>
  </body>
</html>
