---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - New Life Gray T-Shirt"
    url="https://tirecalli.com/new-life-gray-t-shirt/"
    description="Envisioned as a single piece which tightly connects two collections, New Life and 199144. Created from a heavier, French terry cotton with a relaxed fit, for a premium look and feel. A simple, yet impactful color block for all of the items from both collections, which are black. A neutral-gender item."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1"><img src="/img/New-Life-Gray-T-Shirt/girl-in-gray-new-life-tshirt-back.webp" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-2"><img src="/img/New-Life-Gray-T-Shirt/girl-in-gray-new-life-tshirt-front.webp" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3"
              ><img src="/img/New-Life-Gray-T-Shirt/girl-in-gray-new-life-tshirt-side.webp" alt="tirecalli-picture" loading="lazy" />
            </a>
            <a href="details.html#photo-4"
              ><img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-5"
              ><img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-back.webp" alt="tirecalli-picture" loading="lazy" />
            </a>
            <div></div>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>New Life Gray T-Shirt</h2>
            <h2>TC21</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 110 eur</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to basket</p>
          </div>
          <div class="product__item product__item--sizes">
            <button
              id="buttonS"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=J8L3MX8SL4A8S"
              ;""
            >
              <span>S</span>
            </button>
            <button
              id="buttonM"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=AVETEQLASL7QY"
              ;""
            >
              <span>M</span>
            </button>
            <button
              id="buttonL"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=YTV5AB8HR2PSU"
              ;""
            >
              <span>L</span>
            </button>
            <button
              id="buttonXL"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=Q8ERU7FJEEY3Q"
              ;""
            >
              <span>XL</span>
            </button>
          </div>
          <div class="product__item product__item--sizing-chart">
            <div class="btn-area">
              <label class="btn" for="open-pop">Sizing Chart</label>
            </div>
            <div class="pop-area">
              <input class="modal-state" id="open-pop" type="checkbox" />
              <div class="modal">
                <label class="modal_bg" for="open-pop"></label>
                <div class="modal_inner">
                  <label class="modal_close" for="open-pop"></label>
                  <table>
                    <tr>
                      <th colspan="5">New Life Gray T-Shirt</th>
                    </tr>
                    <tr>
                      <td>cm / in</td>
                      <td>S</td>
                      <td>M</td>
                      <td>L</td>
                      <td>XL</td>
                    </tr>
                    <tr>
                      <td class="label">Shoulder</td>
                      <td>47 / 18.5</td>
                      <td>50 / 19.7</td>
                      <td>52 / 20.5</td>
                      <td>53 / 20.9</td>
                    </tr>
                    <tr>
                      <td class="label">Length</td>
                      <td>67 / 26.4</td>
                      <td>68 / 26.8</td>
                      <td>69 / 27.2</td>
                      <td>70 / 27.6</td>
                    </tr>
                    <tr>
                      <td class="label">Width</td>
                      <td>53 / 20.9</td>
                      <td>55 / 21.6</td>
                      <td>58 / 22.8</td>
                      <td>59 / 23.2</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--description">
            <p>
              Envisioned as a single piece which tightly connects two collections, New Life and 199144. Created from a heavier, French terry cotton with a
              relaxed fit, for a premium look and feel. It features the New Life design, but positioned on the back for a minimal look, which goes perfectly
              hand in hand with every item from the 199144 collection. A simple, yet impactful color block for all of the items from both collections, which are
              black.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--details">
                  <ul class="accordion__list accordion-details__list">
                    <li>A gender-neutral cut</li>
                    <li>Back design</li>
                    <li>Color: Gray</li>
                    <li>Material: 70% French terry heavy cotton (280 gram, 9.8 oz), 30% polyester</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--size">
                  <ul class="accordion__list accordion-size__list">
                    <li>Gita is wearing size S and is 169 cm / 5.54 ft tall</li>
                    <li>Ivan is wearing XL and is 187cm /6.13 ft tall</li>
                    <li>Relaxed fit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--shipping">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal.html">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/New-Life-Black-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/New-Life-Black-T-Shirt/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black T-Shirt</h5>
            </div>
          </a>
          <a href="/New-Life-Black-Hoodie/">
            <div class="upsell__item">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black Hoodie</h5>
            </div>
          </a>
          <a href="/Reflective-Calli-Crewneck/">
            <div class="upsell__item">
              <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Reflective Calli Crewneck</h5>
            </div>
          </a>
          <a href="/Fight-Fire-With-Fire-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/Fight-Fire-With-Fire-T-Shirt/white-tshirt-side-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Fight Fire With Fire T-Shirt</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
