---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Buttons } from "../../components/Buttons";

const buttons = [{ id: 1103, size: "M" }];
---

<html>
  <Head
    title="Tire Calligraphy - Mint Moth Hoodie"
    url="https://tirecalli.com/mint-moth-hoodie/"
    description="The Mint Moth hoodie features a Death Moth patch in a unique custom position on every piece. This neutral gender hoodie is designed oversized."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <img src="/img/Mint-Moth-Hoodie/girl-in-mint-hoodie.webp" alt="tirecalli-picture" />
            <img src="/img/Mint-Moth-Hoodie/mint-hoodie-back.webp" alt="tirecalli-picture" />
          </div>
          <div class="product__figures">
            <img src="/img/Mint-Moth-Hoodie/mint-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
            <img src="/img/Mint-Moth-Hoodie/mint-hoodie-patch-detail.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>Mint Moth Hoodie</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 40€</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to bag</p>
          </div>
          <div class="product__item product__item--sizes">
            <Buttons client:load items={buttons} />
          </div>
          <div class="product__item product__item--description">
            <p>
              The Mint Moth hoodie is the latest in the Death Moth series. Features a Death Moth patch in a unique custom position on every piece. This neutral
              gender hoodie is designed oversized. Size down if you prefer a true to size fit.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--panel-1">
                  <ul class="accordion__list accordion-panel-1__list">
                    <li>A gender-neutral cut</li>
                    <li>Back design</li>
                    <li>Unique patch placement</li>
                    <li>Color: Green (Mint)</li>
                    <li>Material: 80% cotton fleece (300 g, 10.6oz), 20% polyester</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--panel-2">
                  <ul class="accordion__list accordion-panel-2__list">
                    <li>Maggy is wearing size S and is 170cm/5.5 ft tall</li>
                    <li>Oversized fit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--panel-3">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
