---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - 199144 campaign"
    url="https://tirecalli.com/199144-campaign"
    description="With every practitioner of mind and body as our direction and guidance, we set ourselves to create what is now offered to you as TC21 / 199144. All TC21 199144 items are neutral gender, crafted according to TC vision of universal wearability."
  />
  <body>
    <Header />
    <main class="overflow-hidden">
      <section class="inspiration">
        <img src="/img/campaign/island-boy-girl-header.webp" alt="tirecalli-picture" />
        <div class="inspiration__group">
          <div class="inspiration__item">
            <h1 class="inspiration__title">199144</h1>
          </div>
          <div class="inspiration__item"></div>
        </div>
        <div class="inspiration__group">
          <div class="inspiration__item inspiration__item--flex-row">
            <img
              class="inspiration__img inspiration__img--flex"
              src="/img/campaign/white-reflective-crewneck-back-logo-detail.webp"
              alt="tirecalli-picture"
              loading="lazy"
            />
            <img
              class="inspiration__img inspiration__img--flex"
              src="/img/campaign/fight-fire-with-fire-white-tshirt.webp"
              alt="tirecalli-picture"
              loading="lazy"
            />
          </div>
          <div class="inspiration__item">
            <div class="inspiration__copy inspiration--spacing">
              <h2 class="inspiration__subtitle">Reflective Calli Crewneck</h2>
              <p class="inspiration__body">
                This gender-neutral crew is a first piece from the 199144 collection. With a vision of neutral, universal items in mind, 199144 will spread
                through the seasons not constrained by time, location or fashion trends.
              </p>
              <p class="inspiration__body">
                Inspired by Japanese culture and its minimalism and a sense of calm. With an ambition to be as plain and minimal as possible, it stills provides
                much needed details revealed only by the second or third look, such as the "199144" white embroidered logo on the chest, or the full "Tire
                Calligraphy" logo in silver on the back, coming fully to life when "attacked" by a force of light, as it is a 3M reflective element.
              </p>
            </div>
            <div class="inspiration__copy">
              <h2 class="inspiration__subtitle">Fight Fire With Fire T-Shirt</h2>
              <p class="inspiration__body">
                Inspired by Japanese culture and its minimalism and a sense of calm, but also with regard to its overwhelming dynamic and fast change, with this
                T-Shirt we tried to juxtapose the two, playing with the term "a dog eat dog world", in this case presented by "sneaky" foxes. Kitsune,
                (Japanese: fox), is very common in Japanese folklore; a creature of mythical status, oscillating between a symbol of cunning, and a powerful
                possessor of great intelligence and good fortune.
              </p>
              <p class="inspiration__body">This gender-neutral T is a piece of the 199144 collection.</p>
            </div>
          </div>
        </div>
        <div class="inspiration__group">
          <div class="inspiration__item">
            <div class="inspiration__copy">
              <p class="inspiration__body inspiration__body--accentuated">
                Continuing our pursuit for the minimal, but still, garments optimal in wearability, the effort was once again concentrated in creating a line of
                timeless and fashionless items, we believe are, and will remain new-timeless-classics. To juxtapose the new 199144 pieces to the initial white
                ones, every item is black, fitting together perfectly.
              </p>
            </div>
          </div>
          <div class="inspiration__item"></div>
        </div>
        <div class="inspiration__group">
          <div class="inspiration__item"></div>
          <div class="inspiration__item">
            <div class="inspiration__copy">
              <p class="inspiration__body inspiration__body--accentuated">
                Again, the inspiration was the East. This time it was ancient Korea and martial arts created in that period. As a symbol of wisdom, black was
                often used in Korean arts, from uniforms to ceremonial dresses. One such contemporary successor is the art of Hwa Rang Do. The black outfit the
                practitioner wears is called a <span class="bold">dobokh</span> (Japanese: kimono).
              </p>
            </div>
          </div>
        </div>
        <div class="inspiration__pics">
          <div class="inspiration__pic">
            <img src="/img/campaign/sulsa-warriors-1.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="inspiration__pic">
            <img src="/img/campaign/sulsa-warriors-2.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="inspiration__pic">
            <img src="/img/campaign/sulsa-warriors-3.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="inspiration__pic">
            <img src="/img/campaign/sulsa-warriors-4.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </div>
        <div class="inspiration__group">
          <div class="inspiration__item inspiration__item--flex-column">
            <div class="inspiration__copy inspiration--spacing">
              <p class="inspiration__body">
                “Hwarangdo, (Korean: “flower youth”) youth group following a unique military and philosophical code developed in the ancient Korean state of
                Silla bout the 6th century CE. The hwarangdo were groups of elite youths (hwarang; the suffix -do means “group,” “disciple,” or “follower”) who
                were trained almost equally in academic and martial skills.”
              </p>
              <h3 class="inspiration__footnote">SOURCE: BLACK BELT MAG 1977</h3>
            </div>
            <div class="inspiration__copy">
              <p class="inspiration__body">
                “...More exactly, he shows them the secrets of the hwarang sul sa, the "magical" technicians of Hwa Rang Do, whose prime counterparts in the
                Asian world of long ago were the famed ninja of Japan. Both ninja and sul sa were regarded as almost superhuman creatures.“
              </p>
              <h3 class="inspiration__footnote">SOURCE: BLACK BELT MAG 1977</h3>
            </div>
          </div>
          <div class="inspiration__item inspiration__item--warrior">
            <img class="inspiration__img inspiration__img--small" src="/img/campaign/sulsa-warrior.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </div>
        <div class="inspiration__columns inspiration__columns--simetric">
          <div class="inspiration__copy">
            <p class="inspiration__body">
              “Hwa Rang Do is a highly balanced martial style incorporating physical techniques with philosophy, academics and healing arts. To demonstrate this
              idea of balance, Hwa Rang Do has two different, yet necessary, divisions of physical applications: Jeong do and Am ja.
            </p>
            <p class="inspiration__body">
              Jeong do is the "<span class="bold">way of the true sword</span>." It means fighting in battle with honor and dignity, dueling to the death, never
              retreating in the face of the enemy, and dying if one must. In ancient times, the code of chivalry was up held at all cost, and the gentleman's
              code was practiced sincerely.
            </p>
          </div>
          <div class="inspiration__copy">
            <p class="inspiration__body">
              Consequently, there emerged a group of warrior elite known as the sulsa (knights of the night). … The sulsa were selected from the best Hwarang
              warriors. They were Hwa Rang Do's special forces, majoring in infiltration, exfiltration, intelligence gathering, assassination and survival.
            </p>
            <p class="inspiration__body">
              They used whatever means necessary to carry out there plan. Unlike the ancient Japanese ninja, however, the most important asset of the sulsa was
              there ideal of hwal bop, which encouraged the warrior to save lives, rather than take them. If one one were able to kill, one should be able to
              heal.
            </p>
          </div>
          <div class="inspiration__copy">
            <p class="inspiration__body">
              The sulsa were experts in un shin bop, a subdivision of hwarang do which involves the art of concealing oneself in front of others. It employs a
              combination of distraction, suggestion, stealth, and camouflage. To be invisible, one must utilize what is visible. By controlling the elements
              which can be seen, one can appear invisible. We assume things are real by making associations with past experiences. We set expectations and
              anticipate the results before analyzing all the facts. When one can determine the boundary between reality and illusion, he no longer exists in
              the real world, but only in his illusions.
            </p>
          </div>
        </div>
        <div class="inspiration__columns inspiration__columns--asimetric">
          <div class="inspiration__copy">
            <p class="inspiration__body">
              Am ja is the "<span class="bold">way of darkness</span>." In this division, trickery, deception and cunning are the key elements of success. One
              must use whatever method, tool, or strategy is necessary to gain an advantage and defeat the enemy. In am ja, the only honor lies in the ultimate
              outcome.
            </p>
          </div>
          <div class="inspiration__copy">
            <p class="inspiration__body--accentuated inspiration--spacing">
              The Hwarang spirit has not endured 18 centuries becasue its techniques are superior, but because people who cherish the art understand the value
              of man, nature and the universe.“
            </p>
            <h3 class="inspiration__footnote">Source: Black BeltMagazine 1986</h3>
          </div>
        </div>
      </section>
      <section class="mission">
        <img src="/img/campaign/island-girl.webp" alt="tirecalli-picture" loading="lazy" />
        <div class="mission__group mission__group--flex mission__group--gradient">
          <div class="mission__item">
            <p class="mission__body-accentuated">
              We believe that practicing martial arts is the ultimate experience of mind and body, be it studying a choreography of movements in forms or using
              your hands in a different way, the “empty hand” techniques, or in weapon training, which can be applied to different cases in everyday situation
              with everyday objects, just as it would be simply propelling yourself through a busy street.
            </p>
            <p class="mission__body-accentuated">
              In a broader sense, training your body and mind, just being persistent in your practice, any form of movement, be it skateboarding, riding
              fixedgear, trail running or climbing and to expand it even further, yoga, meditation, just mindful walking, drawing, sculpting or tattooing, being
              aware of oneself, but also losing yourself in the moment, is an art for itself.
            </p>
          </div>
          <div class="mission__item mission__item--flex-column">
            <h4 class="mission__title">TC21 199144</h4>
            <div class="mission__copy mission__copy--flex">
              <div class="mission__body-items">
                <p class="mission__body">“Empty your mind, be formless, shapeless, like water.</p>
                <p class="mission__body">
                  Now, you put water into a cup, it becomes the cup, you put water into a bottle, it becomes the bottle. You put it into a teapot, it becomes
                  the teapot.
                </p>
                <p class="mission__body">Water can flow, or it can crash. Be water my friend.</p>
                <p class="mission__body">Running water never grows stale, so you got to keep on flowing.”</p>
              </div>
              <h3 class="mission__footnote">BRUCE LEE (Rest in Power)</h3>
            </div>
          </div>
        </div>
        <div class="mission__group mission__group--flex mission__group--black">
          <div class="mission__item mission__item--rotate-left">
            <img src="/img/campaign/black-dobokh-front.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="mission__item"></div>
        </div>
        <div class="mission__group mission__group--flex mission__group--black">
          <div class="mission__item"></div>
          <div class="mission__item mission__item--rotate-right">
            <img src="/img/campaign/black-dobokh-pant.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </div>
        <div class="mission__group mission__group--flex mission__group--black">
          <div class="mission__item">
            <img src="/img/campaign/tc-product-side-view.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="mission__item mission__item--transformed">
            <p class="mission__body-accentuated mission__body-accentuated--white">
              With this postulate and with every practitioner of mind and body as our direction and guidance, we set ourselves to create what is now offered to
              you as TC21 / 199144.
            </p>
            <p class="mission__body-accentuated mission__body-accentuated--white">
              Following the philosophy of martial arts which is adaptability, and with sustainability in mind, every item can be used for more than one purpose
              and situation.
            </p>
            <p class="mission__body-accentuated mission__body-accentuated--white">
              As the black Korean dobokh is a neutral and versatile garment in its own right, being used in its simple form in everyday practice, or a premium
              version used for ceremonies, every item from TC21 / 199144 is a versatile one, being offered to serve you in various occasions, from everyday use
              to “suite and tie” dress to impress life events.
            </p>
          </div>
        </div>
        <div class="mission__group mission__group--narrow">
          <p class="mission__body-accentuated mission__body-accentuated--center">With a vision of neutral, universal items in mind,</p>
          <p class="mission__body-accentuated mission__body-accentuated--center">
            199144 will spread through the seasons not constrained by time, location or fashion trends. Every item offered is a neutral-gender item.
          </p>
        </div>
      </section>
      <section class="video video--flex">
        <video
          class="vid"
          src="https://res.cloudinary.com/snsa-kscc/video/upload/TC21-3D-Visual-Enhancer.mp4"
          poster="/img/tc21-enhancer-poster.webp"
          controls
          playsinline
          preload="none"></video>
      </section>
      <section class="pants">
        <div class="pants__group pants__group--flex-column">
          <h4 class="pants__title">DOBOKH PANT</h4>
          <h2 class="pants__subtitle">Black and simple</h2>
        </div>
        <div class="pants__group">
          <p class="pants__body pants__body--text-end">
            Envisioned as a chino pant with a twist. You can steam iron the middle of the leg for a more classical look.
          </p>
          <p class="pants__body">
            With ankle-length, the pant allows you to show how strong your shoe or sock game is, without you needing to roll the trouser leg. Plus, you won’t
            have oil stains from your everyday bike commute.
          </p>
        </div>
        <div class="pants__group pants__group--grid">
          <div class="pants__item">
            <p class="pants__body">
              Ladies can size down and wear the pant with a high waist for a capri pant look. Both can size up for a 90s baggy pant style.
            </p>
            <p class="pants__body">
              The added, “built-in”, but also removable black belt follows inspiration from martial arts, but also, from a more contemporary source, skate kids,
              who kept their pants on by using a simple thing as a shoelace.
            </p>
            <p class="pants__body">
              The feature of the Twill is its durability, which we find is a feature, not a “bug”. Similar to the black dobokh and the belt; with hours of
              practice, your movement and your sweat, both age and soften over time, becoming uniquely yours. Because over time, the Twill will age, adapt to
              your body and the color will age, as time passes, giving you the one-off unique look.
            </p>
          </div>
          <div class="pants__item">
            <img src="/img/campaign/girl-in-black-dobokh-pant-front.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="pants__item">
            <img src="/img/campaign/black-dobokh-pant-mens-side.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="pants__item">
            <img src="/img/campaign/girl-in-black-dobokh-pant-and-gray-tshirt.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </div>
        <img class="pants__hero" src="/img/campaign/girl-in-black-dobokh-pant-back-detail.webp" alt="tirecalli-picture" loading="lazy" />
      </section>
      <section class="parkha">
        <div class="parkha__group parkha__group--pos-relative">
          <div class="parkha__item">
            <img src="/img/campaign/girl-in-dobokh-parka-open-sleeves.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--pos-absolute">
            <h4>DOBOKH PARKHA</h4>
          </div>
        </div>
        <div class="parkha__group parkha__group--black parkha__group--flex">
          <div class="parkha__item parkha__item--flex-item"></div>
          <div class="parkha__item parkha__item--flex-item">
            <p class="parkha__body-accentuated">The most complex item from the TC21 / 199144 offering.</p>
          </div>
        </div>
        <div class="parkha__group parkha__group--black parkha__group--grid">
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/black-dobokh-parka-mens-front.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/black-dobokh-parka-tc-logo-back.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <p class="parkha__body parkha__body--white">
              From the simplicity of a minimal black jacket, it allows you to develop your style depending on your own and the current mood of the weather.
            </p>
            <p class="parkha__body parkha__body--white">
              Unzipping the sleeves halfway, allows you additional breathability, while removing them enables additional wearing technique to emerge.
            </p>
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <p class="parkha__body parkha__body--white">
              Adjusting the belt strap lets you play with the symmetry of the front side, which is most times in sight. When you need to layer down, the belt
              strap lets you easily carry the jacket to your destination.
            </p>
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/girl-in-dobokh-parka-over-shoulder-back.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/girl-in-black-dobokh-parkha-open-sleeves-white-back.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/girl-in-black-dobokh-parkha-back.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <img src="/img/campaign/black-dobokh-parka-with-hood-mens-front.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="parkha__item parkha__item--grid-item">
            <p class="parkha__copy parkha__body--white">
              Made from the durable Twill cotton, this one will serve you throughout the entire year in the warm to transitional chilly periods.
            </p>
            <p class="parkha__copy parkha__body--white">
              Featuring an oversized hood for your protection against the elements, it also perfectly encapsules the hood from your inner layer.
            </p>
          </div>
        </div>
        <img src="/img/campaign/big-lana-black-parkha-black-tshirt.webp" alt="tirecalli-picture" loading="lazy" />
      </section>
      <section class="black-tee">
        <div class="black-tee__group black-tee__group--flex-left">
          <div class="black-tee__item black-tee__item--flex">
            <div class="black-tee__list black-tee__subhead">
              <p class="black-tee__body-accentuated">New Life</p>
            </div>
            <div class="black-tee__list black-tee__head">
              <h4>BLACK T-SHIRT</h4>
            </div>
            <div class="black-tee__list black-tee__figure">
              <img src="/img/campaign/black-new-life-tshirt-mens-side.webp" alt="tirecalli-picture" loading="lazy" />
              <div class="black_tee__pics">
                <img src="/img/campaign/girl-in-black-new-life-tshirt-front-full.webp" alt="tirecalli-picture" loading="lazy" />
                <img src="/img/campaign/girl-in-black-new-life-tshirt-front-detail.webp" alt="tirecalli-picture" loading="lazy" />
              </div>
            </div>
          </div>
          <div class="black-tee__item">
            <p class="black-tee__copy">
              Honoring the practitioners of fine arts. The etiquette of the elite “Flower Society” which were the Hwarang sulsa noblemen. On a more contemporary
              level, a black T-Shirt we always wanted to create.
            </p>
            <p class="black-tee__copy">
              An hommage to all of the artists and bands and their music, which formed and shaped us in many ways, through time which is now decades. Being
              (true) emo or hardcore etiquette, the philosophy of PMA (Positive Mental Attitude) and Straight Edge, when looked at from a broader perspective,
              for us means being persistent in one’s efforts to progress. Practice makes perfect. For us it symbolizes positive notions of new life, eternal
              life, flow of matter and circularity.
            </p>
          </div>
        </div>
        <div class="black-tee__group black-tee__group--flex-right">
          <div class="black-tee__item">
            <p class="black-tee__copy">
              Deliberately chosen to be a slightly washed-out black, it features a simple true to size fit, as most of the band merch does. We still love buying
              band merch, to support the scene and because the designs are always on point.
            </p>
            <p class="black-tee__copy">
              More importantly it is an hommage to every person living through 2020. A virus does not discriminate. Nor does a natural disaster, such as an
              earthquake. People find a way to move on, by adapting, to learn and grow, to start a new life.
            </p>
          </div>
          <div class="black-tee__item">
            <img src="/img/campaign/girl-in-black-new-life-tshirt-front.webp" alt="tirecalli-picture" />
          </div>
        </div>
      </section>
      <section class="hoodie">
        <div class="hoodie__group hoodie__group--flex">
          <div class="hoodie__subhead">
            <p class="hoodie__body-accentuated">New Life</p>
          </div>
          <div class="hoodie__head">
            <h4>BLACK HOODIE</h4>
          </div>
          <div class="hoodie__accentuated">
            <p class="hoodie__body-accentuated hoodie__body-accentuated--stroke">
              A black hoodie. We believe it should be a quintessential piece in every wardrobe. Almost like the little black dress.
            </p>
          </div>
        </div>
        <div class="hoodie__group hoodie__group--grid">
          <div class="hoodie__item">
            <p class="hoodie__copy">
              This hoodie features a more classic cut, relaxed in the upper part and the sleeves for a comfortable wear. The “New Life” design is positioned on
              the back on purpose, for a more minimal, cleaner look, providing you a level of flexibility when wearing it. Sometimes you want to stand out in
              the crowd, but sometimes you just want a black hoodie, and with an additional item on your back, you have one.
            </p>
          </div>
          <div class="hoodie__item">
            <img src="/img/campaign/black-new-life-hoodie-mens-sidel.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="hoodie__item">
            <img src="/img/campaign/black-new-life-hoodie-mens-back.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="hoodie__item">
            <img src="/img/campaign/girl-in-black-new-life-hoodie-side.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
          <div class="hoodie__item">
            <p class="hoodie__copy">The standard pouch pocket is present but positioned inside with a practical zip closing.</p>
          </div>
        </div>
        <div class="hoodie__group">
          <div class="hoodie__figure">
            <img src="/img/campaign/black-new-life-hoodie-product.webp" alt="tirecalli-picture" loading="lazy" />
          </div>
        </div>
      </section>
      <section class="gray-tee">
        <div class="gray-tee__group gray-tee__group--flex">
          <div class="gray-tee__item">
            <p class="gray-tee__body-accentuated">New Life</p>
          </div>
          <div class="gray-tee__item gray-tee__head">
            <h4>GRAY T-SHIRT</h4>
          </div>
        </div>
        <div class="gray-tee__group gray-tee__group--bg">
          <div class="gray-tee__pics--flex">
            <div class="gray-tee__item">
              <img src="/img/campaign/gray-new-life-tshirt-mens-back.webp" alt="tirecalli-picture" loading="lazy" />
            </div>
            <div class="gray-tee__item">
              <img src="/img/campaign/gray-new-life-tshirt-mens-front.webp" alt="tirecalli-picture" loading="lazy" />
            </div>
          </div>
          <div class="gray-tee__list">
            <div class="gray-tee__item">
              <p class="gray-tee__copy">Envisioned as a single piece which tightly connects two collections, New Life and 199144.</p>
              <p class="gray-tee__copy">Created from a heavier, French terry cotton with a relaxed fit, for a premium look and feel.</p>
              <p class="gray-tee__copy">
                It also features the New Life design, but positioned on the back for a minimal look, which goes perfectly hand in hand with every item from the
                199144 collection.
              </p>
              <p class="gray-tee__copy">A simple, yet impactful color block for all of the items from both collections, which are black.</p>
            </div>
            <div class="gray-tee__item">
              <img src="/img/campaign/girl-in-gray-new-life-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
            </div>
            <div class="gray-tee__item">
              <img src="/img/campaign/girl-in-gray-new-life-tshirt-side.webp" alt="tirecalli-picture" loading="lazy" />
            </div>
          </div>
        </div>
      </section>
      <section class="video video--flex">
        <video class="vid" src="https://res.cloudinary.com/snsa-kscc/video/upload/TC21-New-Life-199144.mp4" controls playsinline></video>
        <div class="text--white">
          <h6 class="centered">Watch TC21 199144 Experience</h6>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
  </body>
</html>
