---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main class="about">
      <p>Nice! Your personal discount code is here.</p>
      <h2>T14M4S5KOFC</h2>
      <p>Make sure to use it in your order.</p>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
  </body>
</html>
