---
import "../styles/style.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - About"
    url="https://tirecalli.com/about "
    description="Our most important fuel, is the passion to build, be a part of and provide support for the community, the only way we can, striving to create top quality products for everyday situations, offering solutions built on a DIY principle, which we believe is the most honest and humble one."
  />
  <body>
    <Header />
    <main class="about">
      <h2>We don’t create clothes,</h2>
      <h2>We create pieces.</h2>
      <h2 class="mt-xl">We don’t create collections.</h2>
      <h2>We create concepts.</h2>
      <p class="mt">
        Tire Calligraphy started as and still represents the passion for cycling, but gradually reinvented itself into a wider interest and never-ending thirst
        for the next challenge, being physical as in running and climbing, being social with collaborations that match our vision of aesthetics and
        functionality, with every individual in mind.
      </p>
      <p class="mt">
        Our most important fuel, is the passion to build, be a part of and provide support for the community, the only way we can, striving to create top
        quality products for everyday situations, offering solutions built on a DIY principle, which we believe is the most honest and humble one.
      </p>
      <p class="mt">
        Calligraphy for us represents making a mark, leaving a track. All of the individuals we choose to co-create with are making one themselves. These people
        are taking matters in their own hands and are changing the game for the better, creating their own products and solutions, others and themselves are
        proud to use.
      </p>
      <p class="mt">
        The term Tire Calligraphy was coined by one of the initial co-founders, Matej Pašalić, referring to the skid marks when ridding fixed gear. The full
        phrase was and still is Tire Calligraphy, Mallet & Ball, which represents the progression of our interests, ridding fixed gear and playing bike polo.
      </p>
      <p class="mt">
        Our Offerings, as we like to call our collections, are small conceptual palettes of well thought of pieces that all are presented to be worn in multiple
        ways; being neutral gender and also envisioned to be worn in more ways than one (or two). And with that, act as the "new evergreens" as we like to call
        them. Each item is "time + trend resistant" as it fits with the cut and the colour with a new or an older item, respectively. In this way we tend to be
        mindful and sustainable, in the creation process and also the production and delivery of the items created. That said, talking about the delivery in its
        own right, we actually always deliver the in-city-orders ourselves, in this way fighting the carbon footprint and more important, getting to know our
        customers.
      </p>
      <p class="mt">
        All our items are proudly created in Zagreb, Croatia from local craftswomen and men. Fair payed. No child labour. No nonsense. No bullshit. Period.
      </p>
      <p class="mt">TC manifesto. 199144.</p>
      <h2 class="mt-xl">Contact</h2>
      <section class="contact__group">
        <div class="contact__item">
          <div class="accordion">
            <div>
              <input type="checkbox" name="panel" id="panel-1" />
              <label for="panel-1">Digital sales locations</label>
              <div class="accordion__content accordion__content--panel-1">
                <ul class="accordion__list accordion-panel-1__list">
                  <li><a href="https://notjustalabel.com/tire-calligraphy" target="_blank" rel="noopener noreferrer">Not Just a Label - B2C</a></li>
                  <li><a href="https://www.faire.com/brand/b_d9vjcnkzmc" target="_blank" rel="noopener noreferrer">Faire - B2B</a></li>
                  <li><a href="https://www.reversible.com/user/tirecalligraphy/listings" target="_blank" rel="noopener noreferrer">REVERSIBLE</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div>
              <input type="checkbox" name="panel" id="panel-2" />
              <label for="panel-2">Brick and Mortar locations</label>
              <div class="accordion__content accordion__content--panel-2">
                <ul class="accordion__list accordion-panel-2__list">
                  <li>BuRa DesignStore - Matije Gupca 13b, 51000 Rijeka, Croatia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div>
              <input type="checkbox" name="panel" id="panel-3" />
              <label for="panel-3">Business info</label>
              <div class="accordion__content accordion__content--panel-3">
                <div class="accordion__copy">
                  <p>Short name: 14.4, vl. Matija Brlek</p>
                  <p>Place: Đakovačka ulica 27, 10000 Zagreb</p>
                  <p>Business bank and account number:</p>
                  <p>Revolut Bank UAB, IBAN: LT543250082287382574</p>
                  <p>OIB: 88111750347</p>
                  <p>Owner: Matija Brlek</p>
                  <p>Contact: info@144.hr</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact__item">
          <div class="form">
            <form name="contact" method="POST" action="/#" netlify-honeypot="bot-field" data-netlify="true">
              <div class="hidden">
                <input type="text" name="bot-field" placeholder=" " />
                <label><span>Phone</span></label>
              </div>
              <div class="form-entry">
                <input type="text" name="name" placeholder=" " required />
                <label><span>Name</span></label>
              </div>
              <div class="form-entry">
                <input type="email" name="email" placeholder=" " required />
                <label><span>Email</span></label>
              </div>
              <div class="form-entry">
                <textarea name="message" placeholder=" " required></textarea>
                <label><span>Message</span></label>
              </div>
              <button class="button button--cta" type="submit">Send</button>
            </form>
          </div>
          <div class="confirmation"><span>Thanks</span></div>
        </div>
      </section>
      <h2 class="mt-xl">Collaborateurs</h2>
      <p class="mt">
        Tire Calligraphy, a brand and an entity in its own right, is a vital part of the
        <a href="https://144.hr/" target="_blank" rel="noopener noreferrer"><span class="text--md">14.4 multiverse</span></a>, consisting of a full service
        creative agency, focusing on small “niche-culture” communities and important brands, creating irl and url experiences; a modelling agency and a
        production studio.
      </p>
    </main>
    <Footer />
    <script is:inline>
      let testForm = document.querySelector("form");

      testForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(testForm);
        fetch(testForm.getAttribute("action"), {
          method: "POST",
          headers: {
            Accept: "application/x-www-form-urlencoded;charset=UTF-8",
            "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
          },
          body: new URLSearchParams(formData).toString(),
        }).then((res) => {
          if (res) {
            document.querySelector(".confirmation").classList.add("show");
            testForm.reset();
            setTimeout(() => {
              document.querySelector(".confirmation").classList.remove("show");
            }, 5000);
          }
        });
      });
    </script>
    <script src="../js/app.js"></script>
  </body>
</html>
