---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main class="conversation">
      <section class="feature">
        <img src="/img/conversation/anja_boulder_2.webp" alt="tirecalli-picture" />
        <div class="feature__description">
          <h4 class="text--white">Anja x TC – Bouldering</h4>
          <h3>Matija for TC in conversation with Anja Santini-Mikulić, a Croatian representative in sports climbing</h3>
        </div>
      </section>
      <article>
        <p class="article__intro">
          As a runner, chances are you've frequently thought about how much strength training, yoga, meditation or improving your diet could benefit your
          running.
        </p>
        <p>
          Or maybe you’re not even a runner. Not important. Maybe you’re just a bit bored with your current life setup and thinking about trying out something
          new. Learning a new skill, be it for a purely physical aspect or you wouldn’t mind a bit of that brain-train as well.
        </p>
        <p>And then there’s the community thing, meeting a new group of interesting individuals is always a bonus.</p>
        <p>
          At least that was my case, I started bouldering a couple of years back, as a form of strength training, as an addition which would improve my running.
          Hopefully. And gym just wasn’t an option at this point of my life. Soon enough I was really happy my expectations were not just met, but much more so,
          because I realized that climbing is providing me much wanted body and mind balance, which I am super curious to investigate while practicing a certain
          discipline. For me bouldering is as much mental if not more than physical. The presence in the moment, call it mindfulness or however you wish, just
          being there – without being there, focused on only one thing, the next move of your hand, or the next step, for me it relates to yoga, running and
          even more so, trail running, on more than one level.
        </p>
        <p>But that’s just me and we aren’t here to talk about me.</p>
        <h4 class="article__greet">Hey Anja!</h4>
        <p class="article__question article__question--small-margin">
          So, in my not so short intro, I’ve tried to sum up what bouldering means to me. So, let’s kick it off from here, dive right in. What does climbing
          mean to you?
        </p>
        <p>
          Climbing for me is simply just part of my life. It isn’t a hobby anymore, something I do in my free time. It’s something I do on a regular basis, just
          like school for example. So, to put it shortly, for me it’s a part of my life that I immensely enjoy.
        </p>
        <img src="/img/conversation/anja_rock_climbing_5.webp" alt="tirecalli-picture" />
        <p class="article__question">
          So, to zoom out a bit, explain it to the folks, just in case; what types of climbing are out there, and which ones do you do and love doing?
        </p>
        <p>
          The most known types are the three disciplines: speed, lead and boulder. We can climb indoor, or outdoors. Outdoors there are plenty of possibilities,
          such as trad climbing, big wall climbing, just regular bouldering and lead climbing, crack climbing, and for the bold and fearless ones: free solo
          climbing. The difference between all of these is mainly in how you get to the top and what kind of protection you use to do that. However, a very
          important difference is between bouldering and lead climbing. In lead climbing you go up a taller route/rock and you are protected with a rope and
          some other gear, while in bouldering you climb a smaller rock, and if you fall, you fall on mats. I climb routes on which you don’t need as much
          equipment and that are easier in that aspect. So basically, I don’t really do trad, big wall climbing but also, I don’t free solo, of course. I climb
          on shorter routes, whether it is outdoors or indoors, bouldering, lead...
        </p>
        <p class="article__question">
          What types of climbing are available in Croatia? I suppose, in general, similar as in Europe and the world, but you’re the expert...
        </p>
        <p>
          In Croatia you can do pretty much everything, or almost everything you could do somewhere else. The only difference is that we have a bit worse
          conditions and climbing is less developed than in some other countries, such as Italy or France.
        </p>
        <p class="article__question">Let’s rewind to the very start of your journey. When did you decide to become a badass? Why did you start climbing?</p>
        <p>
          I started when I was around 9. My dad said that I should do some kind of sport to be healthy and active, so we began the search. I have tried so many
          sports, from volleyball, to gymnastics and basketball, but none of them really did it for me. Then, one day, my dad saw a poster about a gym that was
          offering classes in climbing for kids, so he signed me up. As soon as I arrived and tried it, I immediately loved it. So, I pretty much started
          climbing every weekend with my dad and my best friend and I just loved it.
        </p>
        <img src="/img/conversation/anja_rock_climbing_3.webp" alt="tirecalli-picture" />
        <p class="article__question">What was your motivation back then?</p>
        <p>
          I wouldn’t say I really had a motivation, I wasn’t climbing for anyone but myself, because I wasn’t a competitive climber yet. I just climbed because
          I loved doing it, and so I didn’t really need motivation, just climbing.
        </p>
        <p class="article__question">
          Has your motivation changed over time? Was there a time you wanted to quit, or were you just thinking about trying something new?
        </p>
        <p>
          My motivation has definitely changed, but for the better. I always want more, and want to be better, and I am more and more motivated as I go. I
          actually never had any moments I wanted to quit; I always knew this was what I wanted. Even after a bad session I always know that I am not quitting,
          and I always come back to the gym or the rock.
        </p>
        <p class="article__question">How important is the climbing community for you?</p>
        <p>
          It is extremely important for me. All the people I met while climbing are amazing, and some of them are my best friends. Just like in every other
          sport or thing you do, you want to be surrounded by people who share the same passion as you, who motivate you, and who support you.
        </p>
        <p class="article__question">
          Would you say there is a mental aspect in climbing and how do you experience it? Is it something you find important for your overall success in the
          sport and just everyday training, or you think it’s more of an individual approach?
        </p>
        <p>
          I think that climbing is an extremely difficult sport, not just physically, but also mentally. My biggest struggles are always because of the mental
          aspect. It is such a difficult element because it’s not something you can get that easily. It is not easy to always have the mental approach that is
          very much needed. I think that a lot of the fights that happen while training and competing go on in your mind, and you must find that mental approach
          that you need for comps and trainings.
        </p>
        <p class="article__question">
          So, how do you tackle these situations, fight your fights? Do you have a certain mind practice in addition to a physical training, like meditation,
          visualization, or breathing techniques?
        </p>
        <p>
          That is the hardest thing to prepare for because there is nothing you can do that will completely help you. I don't really prepare ahead of time, but
          I do have some rituals and habits I do. First off, all day before the competition I like to lie down before sleep, breathe and give myself a little
          "pep-talk" let's say. At first, I did that unconsciously, but now it has kind of become part of my routine. On the day of the competition, when I'm
          warming up, I always take a little bit of time to compose myself and my thoughts. But after that I just try to relax and enjoy as much as I can,
          because after all, that is the most important thing. I also have some "superstitions" let's say. I know they don't mean anything, but they are now
          just a habit. For example, I will rarely post on social media that I have an upcoming comp also, I rarely climb with braids in my hair.
        </p>
        <p class="article__question">As a Croatian representative in sport climbing, what is the highest grade you climbed and was it in a comp or training?</p>
        <p>
          The highest grade I did in bouldering was I think 7c or 7c+, and lead climbing it was an 8a. These are grades that I did while training. I never
          actually know the grades of competition routes and boulders.
        </p>
        <img src="/img/conversation/anja_lead_comp.webp" alt="tirecalli-picture" />
        <p class="article__question">What’s your dream spot for climbing on the rock?</p>
        <p>
          I desperately wish to get a chance to climb in Fontainblue or somewhere in Greece. Those are places where I want to climb so much, and I hope I will
          get the chance to do it.
        </p>
        <p class="article__question">Boulder, lead or speed?</p>
        <p>
          I personally prefer bouldering because it is harder to figure out what I am supposed to do to get to the top, and that element of figuring out what
          and how to do something just makes it more fun for me. However, lead is a close second, but it is harder for me to mentally adapt to lead than to
          boulder. And for speed, let’s just say I’m not the biggest fan, although I do enjoy it from time to time.
        </p>
        <img src="/img/conversation/anja_boulder_1.webp" alt="tirecalli-picture" />
        <p class="article__question">Gym or rock?</p>
        <p>
          As a competition climber, I spend most of my time in the gym, but it always feels nice to go back to the rock and just relax and enjoy your time up
          there on the route.
        </p>
        <div class="article-images">
          <img src="/img/conversation/anja_rock_climbing_2.webp" alt="tirecalli-picture" />
          <img src="/img/conversation/anja_rock_climbing_3.webp" alt="tirecalli-picture" />
        </div>
        <p class="article__question">
          Does rock climbing provide you a certain sense of closeness to nature? Maybe help align your body and mind, preparing you for the challenges ahead,
          both in training and comps?
        </p>
        <p>
          I wouldn't really say it brings me some sort of closeness to nature, but it does relax me. Being outside, doing what I love but with no pressure,
          always feels amazing and relaxing. And being in such a calm and peaceful environment it’s just what I need every now and then. And to me one of the
          best things when I'm climbing outside is getting to the top, turning around and see the world beneath me. The huge valleys, forests or whatever is
          under me.
        </p>
        <img src="/img/conversation/anja_tirecalligraphy_black_tshirt_boulder.webp" alt="tirecalli-picture" />
      </article>
    </main>
    <Footer />
    <script is:inline src="https://unpkg.com/gsap/dist/gsap.min.js"></script>
    <script is:inline src="https://unpkg.com/gsap/dist/ScrollTrigger.min.js"></script>
    <script is:inline src="/js/app.js"></script>
    <script is:inline>
      gsap.registerPlugin(ScrollTrigger);
      gsap.from(".feature__description", { opacity: 0, duration: 1.5, ease: "power2.in", y: 50 });
      gsap.from(".feature img", { opacity: 0, duration: 1, y: -50 });
      gsap.utils.toArray("article img").forEach((panel, i) => {
        gsap.from(panel, {
          scrollTrigger: {
            trigger: panel,
            start: "top 75%",
          },
          y: 50,
          opacity: 0,
          duration: 1,
        });
      });
    </script>
  </body>
</html>
