---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/locomotive-scroll.min.css";
---

<html>
  <Head
    title="Tire Calligraphy - Archive"
    url="https://tirecalli.com/archive"
    description="Hoodies, crewnecks, T-shirts, special projects, limited editions, diy,… Six years of Tire Calli and counting - 2022, and then some."
  />
  <body data-scroll-container>
    <Header />
    <main>
      <section data-scroll-section class="archive-hero">
        <img class="archive-hero__pic" src="/img/archive/tirecalligraphy-crew.jpg" alt="tirecalli-picture" />
        <h1 class="archive-hero__title">
          <div class="archive-hero__span-container-1">
            <span>Archive</span>
          </div>
          <div class="archive-hero__span-container-2">
            <span>Archive</span>
          </div>
        </h1>
      </section>
      <section data-scroll-section class="archive-heading">
        <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="-14">In<span class="acc-font">kt/o</span>ber</h1>
      </section>
      <section data-scroll-section class="archive-sin archive-item">
        <div class="archive-sin__group-left">
          <h4>Cardinal Sin Hoodie</h4>
          <img src="/img/archive/Cardinal-Sqoosh/girl-in-cardinal-hoodie.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="2" src="/img/archive/Cardinal-Sqoosh/girl-in-cardinal-hoodie-front.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-sin__group-right">
          <img data-scroll data-scroll-speed="2" src="/img/archive/Cardinal-Sqoosh/girl-in-cardinal-hoodie-back.webp" alt="tirecalli-picture" />
          <div class="archive-sin__copy text--lg">
            <p>The last piece from Skillcollector's Inktober 2018 Challenge.</p>
            <p>We played with words, meanings, colors, the silhouette. Available exclusively in store, in Zagreb, Croatia, at approved.</p>
          </div>
          <img src="/img/archive/Cardinal-Sqoosh/girl-in-cardinal-hoodie-side.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-leg-crew archive-item">
        <div class="archive-leg-crew__group-left">
          <img src="/img/archive/Inktober/nike-trail-shoes-detail.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Inktober/girl-in-yellow-crewneck.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Inktober/tirecalligraphy_yellow_04.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-leg-crew__group-right">
          <img src="/img/archive/Inktober/girl-in-yellow-crewneck-detail.webp" alt="tirecalli-picture" />
          <h4>Break a Leg Crewneck</h4>
          <img src="/img/archive/Inktober/girl-in-yellow-crewneck-side.webp" alt="tirecalli-picture" />
          <div class="archive-leg-crew__copy text--lg">
            <p>Break a Leg aka Pale Lemon aka The Skeletor.</p>
            <p>
              Those born in the 80s know what we are talking about... An evil mastermind from the Masters of the Universe the nemesis of He-Man. ...but you do
              the rest, explore, educate yourself.
            </p>
            <p>
              About the piece, an appropriate addition to the black Break a Leg T-shirt, this long sleeve, with the design itself as a counterpoint to the
              color, works perfectly for us. The third piece from Skillcollector's Inktober 2018 Challenge.
            </p>
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-leg-tee archive-item text--white">
        <div class="archive-leg-tee__group-left">
          <img src="/img/archive/Inktober/tirecalligraphy_black_01.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="2" src="/img/archive/Inktober/girl-in-black-t-shirt-brake-a-leg.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-leg-tee__group-right">
          <h4>Break a Leg T Shirt</h4>
          <div class="archive-leg-tee__copy text--lg">
            <p>Third piece from Skillcollector's Inktober 2018 Challenge.</p>
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-grave-crew archive-item">
        <div class="archive-grave-crew__group-left">
          <img src="/img/archive/Inktober/tirecalligraphy_orange_06.webp" alt="tirecalli-picture" />
          <h4 data-scroll data-scroll-speed="2">Beyond the Grave Hoodie</h4>
          <div class="archive-grave-crew__copy text--lg">
            <p>
              The second piece that we brought to life from Skillcollector's Inktober 2018 Challenge. This one was just screaming to be brought to life as a
              shirt. We decided for a hoodie and a T-Shirt. As the name suggests, and as is up until today, we like to play with the ideas and words, so no
              matter if you believe in afterlife or demons, the "Safety Orange" has got your back.
            </p>
          </div>
        </div>
        <div class="archive-grave-crew__group-right">
          <img src="/img/archive/Inktober/girl-in-safety-orange-beyond-the-grave-hoodie-back.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Inktober/girl-in-safety-orange-beyond-the-grave-hoodie.webp" alt="tirecalli-picture" />
          <img
            data-scroll
            data-scroll-speed="2"
            src="/img/archive/Inktober/girl-in-safety-orange-beyond-the-grave-hoodie-detail.webp"
            alt="tirecalli-picture"
          />
        </div>
      </section>
      <section data-scroll-section class="archive-grave-tee archive-item">
        <div class="archive-grave-tee__group-left">
          <h4>Beyond The Grave T-Shirt</h4>
        </div>
        <div class="archive-grave-tee__group-right">
          <img src="/img/archive/tirecalligraphy-beyond-the-grave.jpg" alt="tirecalli-picture" />
          <div class="archive-grave-tee__copy text--lg">
            <p>
              The second piece that we brought to life from Skillcollector's Inktober 2018 Challenge. This one was just screaming to be brought to life as a
              T-shirt. We decided for a T-Shirt and a hoodie.
            </p>
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-grave-tee-limited archive-item">
        <div class="archive-grave-tee-limited__group-left">
          <h4>Beyond The Grave Glitch T-Shirt - Limited</h4>
        </div>
        <div class="archive-grave-tee-limited__group-right">
          <div class="archive-grave-tee-limited__copy text--lg">
            <p>The second piece that we brought to life from Skillcollector's Inktober 2018 Challenge.</p>
            <p>This one was just screaming to be brought to life as a T-shirt.</p>
            <p>We decided for a T-Shirt and a hoodie.</p>
            <p>This cw is extremely limited, we just wanted to have some fun with a bunch of colors...</p>
          </div>
          <div class="archive-grave-tee-limited__pics">
            <img src="/img/archive/Inktober/tirecalligraphy_beyond_the_grave_glitch_04.webp" alt="tirecalli-picture" />
            <img data-scroll data-scroll-speed="2" src="/img/archive/Inktober/tirecalligraphy_yoggie_glitch_02.webp" alt="tirecalli-picture" />
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-hook archive-item">
        <div class="archive-hook__group-left">
          <img src="/img/archive/Inktober/off-the-hook-detail.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Inktober/girl-in-off-the-hook-white-hoodie.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="4" src="/img/archive/Inktober/man-in-whit-off-the-hook-hoodie.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-hook__group-right">
          <h4>Off The Hook Hoodie</h4>
          <div class="archive-hook__copy text--lg">
            <p>First piece that we brought to life from Skillcollector's Inktober 2018 Challenge.</p>
            <p>As if the design was not enough, we decided to play with the phrase "Off The Hook" - positioned on both sleeves on the forearms.</p>
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-heading">
        <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="14">Tir<span class="acc-font">e/ca</span>lli</h1>
      </section>
      <section data-scroll-section class="archive-black-subheading archive-subheading">
        <h4>Tire Calli Black on Black Glossy</h4>
      </section>
      <section data-scroll-section class="archive-black archive-item">
        <div class="archive-black__group-flex">
          <img src="/img/archive/Tire-Calli/girl-in-tire-calli-black-glossy-crewneck.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-black__group-grid">
          <div class="archive-black__copy text--lg">
            <p>Black on black.</p>
            <p>Glossy edition.</p>
            <p>Limited.</p>
            <p>What's interesting about it, it kinda changes colors, depending on the setup of the light and the environment.</p>
          </div>
          <img class="archive-black__grid-item-1" src="/img/archive/Tire-Calli/tire-calli-black-glossy-crewneck.webp" alt="tirecalli-picture" />
          <img class="archive-black__grid-item-2" src="/img/archive/Tire-Calli/tire-calli-black-glossy-crewneck-back-detail.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-black-subheading archive-subheading">
        <h4>Tire Calli Black on Black Matte</h4>
      </section>
      <section data-scroll-section class="archive-black archive-item">
        <div class="archive-black__group-grid archive-black__group-grid--no-cols">
          <img src="/img/archive/Tire-Calli/tire-calli-black-matte-crewneck-back.webp" alt="tirecalli-picture" />
          <div class="archive-black__copy text--lg">
            <p>Black on black.</p>
            <p>Nuff said.</p>
            <p>
              Opposed to the Tire Calli Black Glossy, the Black Matte finish is not entirely matte - it has an interesting sparkly touch to it, which is visible
              only up close.
            </p>
            <p>'Cause we're all about them details.</p>
          </div>
        </div>
        <div class="archive-black__group-flex">
          <img src="/img/archive/Tire-Calli/tire-calli-black-matte-crewneck.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-champ archive-item">
        <div class="archive-champ__group-left">
          <img src="/img/archive/Tire-Calli/tire-calli-bikepolo-red-glossy-crewneck.webp" alt="tirecalli-picture" />
          <h4 class="mix-blend-mode--disabled">Tire Calli Champion Red</h4>
          <img src="/img/archive/Tire-Calli/tire-calli-bikepolo-red-glossy-crewneck-back.webp" alt="tirecalli-picture" />
          <div data-scroll data-scroll-speed="1" class="archive-champ__copy text--lg">
            <p>
              It's because we liked the Black Glossy so much, we decided to treat the guys from the Mongrels United bikepolo team with something we found was
              special.
            </p>
            <p>This was for the world bike polo championships that took place in Lexington, Kentucky in October 2017.</p>
            <p>
              The red crewneck was created with the same aesthetic and design as our black-on-black glossy crewneck, but we wanted to do it for the guys - the
              way they wanted it. Needless to say, this one ended up being the 'Champion Red'.
            </p>
            <p>
              We still cannot believe and are humbled and thankful that we could be a part of their journey. Extra limited edition. Big up to the Mighty Mighty
              Mongrels aka Scorin is Borin fam!
            </p>
          </div>
        </div>
        <div data-scroll data-scroll-speed="2" class="archive-champ__group-right">
          <img src="/img/archive/Tire-Calli/tire-calli-bikepolo-red-glossy-crewneck-detail.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Tire-Calli/tire-calli-bikepolo-red-glossy-crewneck-front-detail.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-white archive-item">
        <div class="archive-white__group-left">
          <h4>Tire Calli White T aka The Skidmark T</h4>
          <div class="archive-white__copy text--lg">
            <p>A classic is a classic, is a classic... You can never go wrong with a basic white Tee, right?</p>
            <p>The first T-shirt featuring the Tire Calli Skidmark logo in the front and the full sign in the back.</p>
          </div>
        </div>
        <div class="archive-white__group-right">
          <img
            data-scroll
            data-scroll-direction="horizontal"
            data-scroll-speed="-1"
            src="/img/archive/Tire-Calli/white-t-shirt-tire-calli-front.webp"
            alt="tirecalli-picture"
          />
          <img src="/img/archive/tirecalligraphy-skidmark.jpg" alt="tirecalli-picture" />
          <img
            data-scroll
            data-scroll-direction="horizontal"
            data-scroll-speed="1"
            src="/img/archive/Tire-Calli/white-t-shirt-tire-calli-back.webp"
            alt="tirecalli-picture"
          />
        </div>
      </section>
      <section data-scroll-section class="archive-pink archive-item">
        <div class="archive-pink__group-left">
          <h4>Reflective Calli Crewneck</h4>
          <div class="archive-pink__copy text--lg">
            <p>
              This gender neutral crew was a first piece in our new 199144 collection. With a vision of neutral, universal items in mind, 199144 spread through
              the seasons not constrained by time, location or fashion trends.
            </p>
            <p>
              Inspired by Japanese culture and its minimalism and a sense of calm. With an ambition to be as plain and minimal as possible, it still provides
              much needed details revealed only by the second or third look, such as the "199144" white embroidered logo on the chest, or the full "Tire
              Calligraphy" logo in silver on the back, coming fully to life when "attacked" by a force of light, as it is a 3M reflective element.
            </p>
          </div>
        </div>
        <div class="archive-pink__group-right">
          <img
            data-scroll
            data-scroll-speed="2"
            src="/img/Reflective-Calli-Crewneck/girl-in-a-white-crewneck-with-reflectivew-detail.webp"
            alt="tirecalli-picture"
          />
          <img data-scroll data-scroll-speed="2" src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail-dark.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="1" src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-reflective archive-item">
        <div class="archive-reflective__group-left">
          <img data-scroll data-scroll-speed="1" src="/img/archive/Tire-Calli/tire-calli-reflective-t-shirt-back-dark.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="1" src="/img/archive/Tire-Calli/tire-calli-reflective-t-shirt-back-light.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Tire-Calli/tire-calli-reflective-t-shirt-2.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-reflective__group-right">
          <h4>Tire Calli Reflective T-Shirt</h4>
        </div>
      </section>
      <section data-scroll-section class="archive-heading">
        <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="-16" class="max-content">
          From the comm<span class="acc-font">unity,</span>
        </h1>
        <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="16" class="max-content">
          <span class="acc-font">for the comm</span>unity
        </h1>
      </section>
      <section data-scroll-section class="archive-black-subheading archive-subheading">
        <h4>Black Polo Deathmoth OG T aka The Introvert T</h4>
      </section>
      <section data-scroll-section class="archive-black archive-item">
        <div class="archive-black__group-flex text--white">
          <div class="archive-black__copy text--lg">
            <p>A T-Shirt we created for Bike Polo Zagreb and their fourth international bike polo tournament - Zagreb International 2016.</p>
          </div>
        </div>
        <div class="archive-black__group-grid">
          <img src="/img/archive/From-The-Comm-For-The-Comm/man-in-polo-deathmoth-black-t-shirt.webp" alt="tirecalli-picture" />
          <img src="/img/archive/From-The-Comm-For-The-Comm/black-t-shirt-polo-deathmoth-front-detail.webp" alt="tirecalli-picture" />
          <img src="/img/archive/From-The-Comm-For-The-Comm/polo-deathmoth-black-t-shirt.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-pale archive-item">
        <div class="archive-pale__group-left">
          <img src="/img/archive/From-The-Comm-For-The-Comm/girl-in-pale-yellow-t-shirt-detail.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="2" src="/img/archive/From-The-Comm-For-The-Comm/girl-in-pale-yellow-t-shirt.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-pale__group-right">
          <h4>Deathmoth Pale Limited</h4>
        </div>
      </section>
      <section data-scroll-section class="archive-pink archive-item">
        <div class="archive-pink__group-left">
          <h4>Baby pink Polo Deathmoth</h4>
          <div class="archive-pink__copy text--lg">
            <p>Our first crewneck.</p>
            <p>
              An appropriate counterpoint to the black Polo Deathmoth T-Shirt, which takes resemblance to the old school hardcore and metal bands aesthetic -
              what we were exactly going for here, 'cause these are our roots.
            </p>
            <p>Also, the design itself as a counterpoint to the color, works perfectly for us.</p>
          </div>
        </div>
        <div class="archive-pink__group-right">
          <img data-scroll data-scroll-speed="2" src="/img/archive/From-The-Comm-For-The-Comm/pink-deathmoth-crewneck.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="2" src="/img/archive/From-The-Comm-For-The-Comm/girl-in-pink-crewneck-close.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="1" src="/img/archive/From-The-Comm-For-The-Comm/girl-in-pink-crewneck-detail.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-hand archive-item">
        <div class="archive-hand__group-left">
          <h4 data-scroll data-scroll-speed="2">Sacred Geometry aka The Hand T</h4>
        </div>
        <div class="archive-hand__group-right">
          <div class="archive-hand__copy text--lg">
            <p>The year was 2017.</p>
            <p>The big fifth birthday of Zagreb International Bikepolo Tournament was a huge deal for Bike Polo Zagreb.</p>
            <p>We needed to create something special.</p>
            <p>And people say we delivered. We decided to trust their judgement.</p>
          </div>
          <div class="archive-hand__pics">
            <img src="/img/archive/From-The-Comm-For-The-Comm/sacred-geometry-bike-polo-t-shirt-front-detail.webp" alt="tirecalli-picture" />
            <img
              data-scroll
              data-scroll-speed="2"
              src="/img/archive/From-The-Comm-For-The-Comm/man-in-sacred-geometry-bike-polo-t-shirt.webp"
              alt="tirecalli-picture"
            />
          </div>
        </div>
      </section>
      <section data-scroll-section class="archive-heading">
        <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="-14">Li<span class="acc-font">ci</span>tar</h1>
      </section>
      <section data-scroll-section class="archive-heart archive-item">
        <div class="archive-heart__group-left">
          <h4>Licitar OG T aka The Heart T</h4>
          <div class="archive-heart__copy text--lg">
            <p>A revamped version of the original T-Shirt jersey of the first official bike polo team in Zagreb and Croatia.</p>
            <p>
              We refreshed the front with a bigger and brighter visual and moved the sign to the back, making it stand out more. The full name of the sport is
              Hard Court Bike Polo, so it was oh so logical, nearly begging to play with words, thus naming it Heart Court Bike Polo Zagreb.
            </p>
            <p>A staple design of Tire Calligraphy and Bike Polo Zagreb.</p>
          </div>
        </div>
        <div class="archive-heart__group-right">
          <img src="/img/archive/tirecalligraphy-licitar-aka-the-heart-t.jpg" alt="tirecalli-picture" />
          <img src="/img/archive/Licitar/bike-polo-zagreb-white-t-shirt.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Licitar/licitar-white-t-shirt-front.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Licitar/licitar-t-shirt-stack.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-grey archive-item">
        <div class="archive-grey__group-left">
          <img src="/img/archive/Licitar/licitar-gray-crewneck-back.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Licitar/licitar-gray-crewneck-detail.webp" alt="tirecalli-picture" />
        </div>
        <div class="archive-grey__group-right">
          <img src="/img/archive/Licitar/girl-in-grey-licitar-crewneck.webp" alt="tirecalli-picture" />
          <h4>Heather grey Licitar</h4>
          <div data-scroll data-scroll-speed="1" class="archive-grey__copy text--lg">
            <p>
              Being said that Licitar is our staple visual, it deserved to be presented in a long sleeve version. This heather grey crewneck is first, but just
              one of the many versions of Licitars to come. We are pretty sure about that.
            </p>
          </div>
          <img data-scroll data-scroll-speed="2" src="/img/archive/Licitar/licitar-gray-crewneck-stack.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section data-scroll-section class="archive-white archive-item">
        <div class="archive-white__group-left">
          <h4>White Licitar aka The Heart Hoodie</h4>
          <div class="archive-white__copy text--lg">
            <p>The all white Licitar aka The Heart hoodie with the heart, just as we like our coffee. Another of our views of the staple - Licitar.</p>
          </div>
        </div>
        <div class="archive-white__group-right archive-white__group-right--equal">
          <img data-scroll data-scroll-speed="2" src="/img/archive/Licitar/licitar-white-hoodie-back.webp" alt="tirecalli-picture" />
          <img src="/img/archive/Licitar/girl-in-white-hoodie.webp" alt="tirecalli-picture" />
          <img data-scroll data-scroll-speed="2" src="/img/archive/Licitar/licitar-white-hoodie.webp" alt="tirecalli-picture" />
        </div>
      </section>
    </main>
    <Footer isLocoScroll={true} />
    <script is:inline src="https://unpkg.com/locomotive-scroll/dist/locomotive-scroll.min.js"></script>
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
