---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head title="Tire Calligraphy - Brand Guidelines" url="https://tirecalli.com/brand-guidelines" />
  <body>
    <Header />
    <main class="legal">
      <h2>BRANDS</h2>
      <p>
        We’ve created the following page to help others use our brand and assets, including our logo, content, and trademarks, without having to negotiate legal
        agreements for each use. Please contact us and include a visual mockup for any intended use not covered by these guidelines.
      </p>
      <section class="brand-cards">
        <div class="brand-card-group">
          <div class="brand-card">
            <div class="brand-picture">
              <img src="/img/logo/horizontal_logo_black.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Horizontal logo on light</h2>
              <p>Please use this logo in most circumstances on light backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/horizontal_logo_black.png" download="">PNG</a>
                <a href="/img/logo/horizontal_logo_black.svg" download="">SVG</a>
              </div>
            </div>
          </div>
          <div class="brand-card">
            <div class="brand-picture brand-picture__dark">
              <img src="/img/logo/horizontal_logo_white.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Horizontal logo on dark</h2>
              <p>Please only use this logo on dark backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/horizontal_logo_white.png" download="">PNG</a>
                <a href="/img/logo/horizontal_logo_white.svg" download="">SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="brand-card-group">
          <div class="brand-card">
            <div class="brand-picture">
              <img src="/img/logo/vertical_logo_black.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Vertical logo on light</h2>
              <p>Please use this logo in most circumstances on light backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/vertical_logo_black.png" download="">PNG</a>
                <a href="/img/logo/vertical_logo_black.svg" download="">SVG</a>
              </div>
            </div>
          </div>
          <div class="brand-card">
            <div class="brand-picture brand-picture__dark">
              <img src="/img/logo/vertical_logo_white.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Vertical logo on dark</h2>
              <p>Please only use this logo on dark backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/vertical_logo_white.png" download="">PNG</a>
                <a href="/img/logo/vertical_logo_white.svg" download="">SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="brand-card-group">
          <div class="brand-card">
            <div class="brand-picture">
              <img src="/img/logo/logomark_black.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Logomark on light</h2>
              <p>Please only use the logomark for very small representations of the brand.</p>
              <div class="brand-buttons">
                <a href="/img/logo/logomark_black.png" download="">PNG</a>
                <a href="/img/logo/logomark_black.svg" download="">SVG</a>
              </div>
            </div>
          </div>
          <div class="brand-card">
            <div class="brand-picture brand-picture__dark">
              <img src="/img/logo/logomark_white.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Logomark on dark</h2>
              <p>Please only use the logomark for very small representations of the brand.</p>
              <div class="brand-buttons">
                <a href="/img/logo/logomark_white.png" download="">PNG</a>
                <a href="/img/logo/logomark_white.svg" download="">SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="brand-card-group">
          <div class="brand-card">
            <div class="brand-picture">
              <img src="/img/logo/typo_black.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Typography on light</h2>
              <p>Please use this typographic logo in most circumstances on light backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/typo_black.png" download="">PNG</a>
                <a href="/img/logo/typo_black.svg" download="">SVG</a>
              </div>
            </div>
          </div>
          <div class="brand-card">
            <div class="brand-picture brand-picture__dark">
              <img src="/img/logo/typo_white.webp" alt="Tire Calligraphy logo" />
            </div>
            <div class="brand-info">
              <h2>Typography on dark</h2>
              <p>Please only use this typographic logo on dark backgrounds.</p>
              <div class="brand-buttons">
                <a href="/img/logo/typo_white.png" download="">PNG</a>
                <a href="/img/logo/typo_white.svg" download="">SVG</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
  </body>
</html>
