---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Campaigns"
    url="https://tirecalli.com/campaigns"
    description="Sometimes the best hiding place is the one that's in plain sight. And with this premise we started to envision what is now visible and tangible, offered to you as TC22. All TC22 199144 items are neutral gender, crafted according to TC vision of universal wearability."
  />
  <body class="campaigns">
    <Header />
    <main class="overflow-hidden bold campaigns__wrapper">
      <section class="campaign" id="c1"><a href="/heart-coeurt-campaign">Heart Cœurt</a></section>
      <section class="campaign" id="c2"><a href="/crypto-kids-campaign">Crypto Kids</a></section>
      <section class="campaign" id="c3"><a href="/199144-campaign">199144</a></section>
    </main>
    <div class="preview">
      <div class="preview__img"></div>
    </div>
    <Footer />
    <script src="../js/app.js"></script>
    <script src="../js/app-campaigns.js"></script>
  </body>
</html>
