---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Button } from "../components/Button";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <h4>ovo je cart</h4>
      <Button client:load />
      <p class="store-items" data-sku="701" data-qnt="1">fight fire with fire L - kom 1</p>
      <p class="store-items" data-sku="501" data-qnt="2">tote bag - kom 2</p>
      <div id="paypal-button-container"></div>
    </main>
    <Footer />
    <script
      is:inline
      src="https://www.paypal.com/sdk/js?client-id=Af1ohtvwXNwwIsDqriG76tdtT7Xju8PagK5m1mNmUxumkiE5wDiyL_uqWR7qZcX6ndvcu7UynDpq1hWW&currency=EUR&intent=authorize"
    ></script>
    <script is:inline src="/js/app.js"></script>
    <script is:inline>
      const storeItems = document.querySelectorAll(".store-items");
      const payload = [];
      storeItems.forEach((item) => {
        const singleObj = {};
        singleObj["id"] = parseInt(item.dataset.sku);
        singleObj["quantity"] = parseInt(item.dataset.qnt);
        payload.push(singleObj);
      });
      paypal
        .Buttons({
          createOrder: function () {
            return fetch("/.netlify/functions/paypal", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(payload),
            })
              .then((res) => {
                if (res.ok) return res.json();
                return res.json().then((json) => Promise.reject(json));
              })
              .then(({ id }) => {
                return id;
              })
              .catch((e) => {
                console.error(e.error);
              });
          },
          onApprove: function (data, actions) {
            return actions.order.authorize(); // return actions.order.capture();
          },
        })
        .render("#paypal-button-container");
    </script>
  </body>
</html>
