---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <h4>ovo je cart</h4>
      <div id="paypal-button-container"></div>
    </main>
    <Footer />
    <script
      is:inline
      src="https://www.paypal.com/sdk/js?client-id=Af1ohtvwXNwwIsDqriG76tdtT7Xju8PagK5m1mNmUxumkiE5wDiyL_uqWR7qZcX6ndvcu7UynDpq1hWW&currency=EUR"
    ></script>
    <script is:inline src="/js/app.js"></script>
    <script is:inline>
      paypal
        .Buttons({
          createOrder: function () {
            return fetch("/.netlify/functions/paypal", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                items: [
                  {
                    id: 1,
                    quantity: 2,
                  },
                  { id: 2, quantity: 3 },
                ],
              }),
            })
              .then((res) => {
                if (res.ok) return res.json();
                return res.json().then((json) => Promise.reject(json));
              })
              .then(({ id }) => {
                return id;
              })
              .catch((e) => {
                console.error(e.error);
              });
          },
          onApprove: function (data, actions) {
            return actions.order.capture();
          },
        })
        .render("#paypal-button-container");
    </script>
  </body>
</html>
