---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ShoppingCart } from "../components/ShoppingCart";
---

<style is:global>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  main {
    margin-inline: clamp(2em, 10vw, 16em);
  }

  h2 {
    padding: 1em 0;
  }

  .bag {
    column-gap: clamp(6em, 10vw, 16em);
    row-gap: 4em;
    margin-top: 2em;
    flex-wrap: wrap;
  }

  .bag__group {
    line-height: 1.7;
    flex: 1 1 31rem;
  }

  .bag__group:first-of-type {
    flex: 3 1 31rem;
  }

  .bag__summary {
    text-align: end;
  }

  .bag__item {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.5em;
    justify-content: flex-start;
  }

  .bag__item-price {
    font-weight: lighter;
  }

  .bag__item + .bag__item {
    margin-top: 4em;
  }

  .bag__description {
    flex: 1;
  }

  .bag__total {
    margin: 1.5em 0;
    padding: 0.5em 0;
    border-block: 1px solid lightgray;
  }

  .bag__buttons {
    display: flex;
    margin-top: 1.5em;
  }

  .button--size {
    width: 4rem;
    height: 4rem;
  }

  .button--size:last-child {
    margin-left: 3em;
  }

  .pic {
    max-width: 100px;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
  }

  .paypal {
    margin-top: 2em;
  }

  .empty {
    padding-inline: 2em;
    margin-top: 2em;
  }
</style>

<html>
  <Head title="Tire Calligraphy - Bag" url="https://tirecalli.com/cart" />
  <body>
    <Header />
    <main>
      <ShoppingCart client:only="react" />
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <!-- <script
      is:inline
      src="https://www.paypal.com/sdk/js?client-id=AbJEWWb11uZPepCWJ-lcU4d3FS-AU96otqyvH5fNPAmamH8a5OLsMOOKgZJaAuXV5UIuq981mvcQdfVT&currency=EUR&intent=authorize"
    ></script> -->
    <!-- <script is:inline>
      // const storeItems = document.querySelectorAll(".store-items");
      // const payload = [];
      // storeItems.forEach((item) => {
      //   const singleObj = {};
      //   singleObj["id"] = parseInt(item.dataset.sku);
      //   singleObj["quantity"] = parseInt(item.dataset.qnt);
      //   payload.push(singleObj);
      // });
      setTimeout(() => {
        paypal
          .Buttons({
            style: {
              layout: "vertical",
              color: "black",
              shape: "rect",
              label: "paypal",
            },
            createOrder: function () {
              const localStorageItems = JSON.parse(localStorage.getItem("shopping-cart"));
              const requestBody = {
                purchasedItems: localStorageItems,
                discount: false,
              };
              return fetch("/.netlify/functions/paypal", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(requestBody),
              })
                .then((res) => {
                  if (res.ok) return res.json();
                  return res.json().then((json) => Promise.reject(json));
                })
                .then(({ id }) => {
                  return id;
                })
                .catch((e) => {
                  console.error(e.error);
                });
            },
            onApprove: function (data, actions) {
              return actions.order.authorize().then(function () {
                localStorage.removeItem("shopping-cart");
                actions.redirect("https://tirecalli.com/success"); // return actions.order.capture();
              });
            },
          })
          .render("#paypal-button-container");
      }, 300);
    </script> -->
  </body>
</html>
