---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head title="Tire Calligraphy - Conversations" url="https://tirecalli.com/conversations" description="Conversations with TC Family." />
  <body class="h-100">
    <Header />
    <main>
      <section class="cards">
        <a href="/anja">
          <article>
            <div class="card__image card__image--squared">
              <img src="/img/conversation/anja_tirecalligraphy_black_tshirt_boulder.webp" alt="tirecalli-picture" />
            </div>
            <h5>Anja x TC – Bouldering</h5>
            <div class="card__description">
              <p>w/ Anja Santini-Mikulić</p>
            </div>
          </article>
        </a>
        <a href="/nikolina-and-iva">
          <article>
            <div class="card__image card__image--squared">
              <img src="/img/conversation/cruising-ladies-2.webp" alt="tirecalli-picture" />
            </div>
            <h5>Nikolina and Iva x TC – BZona and Cruising Ladies</h5>
            <div class="card__description">
              <p>w/ Nikolina Mišeta and Iva Komesar</p>
            </div>
          </article>
        </a>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script>
      import { gsap, ScrollTrigger } from "gsap/all";
      gsap.registerPlugin(ScrollTrigger);
      gsap.utils.toArray("article img").forEach((panel, i) => {
        gsap.from(panel, {
          scrollTrigger: {
            trigger: panel,
            start: "top 75%",
          },
          y: 50,
          opacity: 0,
          duration: 1,
        });
      });
    </script>
  </body>
</html>
