---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head title="Tire Calligraphy - Cookies" url="https://tirecalli.com/cookie-policy" />
  <body>
    <Header />
    <main class="legal">
      <h2>COOKIE POLICY</h2>
      <h5>What are cookies?</h5>
      <p>
        A cookie is a small text file that your browser saves on your computer or mobile device when you visit a certain website. Cookies enable the website to
        remember your actions and preferences (such as login, language, font size and other display preferences) over a longer period of time, so you don’t have
        to keep re-entering them whenever you come back to the website or browse from one page to another.
      </p>
      <h5>How do we use cookies?</h5>
      <p>tirecalli.com uses cookies and similar technologies for several purposes, depending on the context or product, including:</p>
      <ul>
        <li>
          <p>
            temporary user-input (session ID) cookies and/or persistent cookies limited to several hours – we use them to store your preferences and settings on
            your device, and to enhance your user experience. For example, storing your personal preferences in cookies allows you to not have to set your
            preferences every time you visit the site;
          </p>
        </li>
        <li>
          <p>
            authentication cookies, used for authentication services, for the duration of the page visit – we use them to verify your authenticity. This cookie
            lets you navigate from page to page without having to log in again on each page;
          </p>
        </li>
        <li>
          <p>
            user security cookies, which are used to detect authentication abuses, of limited duration – we use them to process information that enables us to
            be secure, and to identify fraud and misuse;
          </p>
        </li>
        <li>
          <p>multimedia cookies, such as flash player cookies, for the duration of the page visit;</p>
        </li>
        <li>
          <p>
            cookies that enable loading, for the duration of the page visit – we use them to remember information that you give to us; we store this information
            in a cookie so that we can remember it.
          </p>
        </li>
      </ul>
      <p>
        In addition, we use third-party cookies for sharing social media plug-ins, for logged-in social network members – some of our websites include social
        media cookies (Facebook, Instagram), including those that allow users who are logged into a social network to share content over that network. This
        happens on websites that allow you to log in and register through social media accounts, and in case you share the content of a website on social media
        (e.g., via the “Like” button).
      </p>
      <p>You can find more information on how to manage cookies belonging to third parties on their websites:</p>
      <ul>
        <li>
          <p>Find out more about Facebook’s use of cookies and how you can control them on https://facebook.com/policies/cookies/</p>
        </li>
        <li>
          <p>Find out more about Instagram’s use of cookies and how you can control them on https://help.instagram.com/155833707900388</p>
        </li>
      </ul>
      <p>
        Facebook and Instagram receive your personal data when you visit those websites and applications, including information about your device and activity,
        without any additional action on your side. This happens whether you have a Facebook or Instagram user account or not, or whether you are logged in or
        not.
      </p>
      <p>14.4, vl. Matija Brlek (Tire Calligraphy) does not have an influence over the processing of personal data performed by third parties.</p>
      <p>
        14.4, vl. Matija Brlek (Tire Calligraphy) does not use cookies for any other purposes other than the one described in our Privacy Policy and this
        Policy.
      </p>
      <h5>Cookies used on this website</h5>
      <p><strong>_fbp</strong></p>
      <ul>
        <li>
          <p>Marketing / 3 months</p>
        </li>
        <li>
          <p>This cookie is set by Facebook to show ads when Facebook is visited or by a digital platform run by Facebook after visiting this website.</p>
        </li>
      </ul>
      <p><strong>_gcl_au</strong></p>
      <ul>
        <li>
          <p>Analytical / 3 month</p>
        </li>
        <li>
          <p>This cookie uses Google Analytics to understand the user’s interaction with the website.</p>
        </li>
      </ul>
      <p><strong>_ga</strong></p>
      <ul>
        <li>
          <p>Analytical / 2 years</p>
        </li>
        <li>
          <p>
            This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session and campaign data, and to keep track of site usage
            for the site’s analytics report. The cookies store information anonymously and assign a randomly generated number to identify unique visitors.
          </p>
        </li>
      </ul>
      <p><strong>_gid</strong></p>
      <ul>
        <li>
          <p>Analytical / 1 day</p>
        </li>
        <li>
          <p>
            This cookie is installed by Google Analytics. The cookie is used to store information on how visitors use a website, and helps in creating an
            analytics report of how the website is doing. The data collected includes the number of visitors, the source where they have come from, and the
            pages visited in an anonymous form.
          </p>
        </li>
      </ul>
      <p><strong>_dc_gtm_UA-112537065-2</strong></p>
      <ul>
        <li>
          <p>Other / 1 minute</p>
        </li>
      </ul>
      <p><strong>form_key</strong></p>
      <ul>
        <li>
          <p>Performance / 1 hour</p>
        </li>
        <li>
          <p>This cookie is used to track completed forms, and to facilitate caching of content on the browser to make pages load faster.</p>
        </li>
      </ul>
      <h5>How can you control cookies?</h5>
      <p>You can control and/or delete cookies according to your wishes.</p>
      <p>
        You can delete all cookies that have already been stored on your computer, and settings of the majority of browsers enable you to block the storage of
        cookies.
      </p>
      <p>
        If you block cookies, you may have to manually adjust certain preferences each time you visit a website, and certain services and functions may not be
        available.
      </p>
      <h5>How to delete cookies?</h5>
      <p>There are currently several websites that can be used to opt-out of storing cookies for different services.</p>
      <p>You can find more information here:</p>
      <ul>
        <li>
          <p>www.allaboutcookies.org</p>
        </li>
        <li>
          <p>www.youronlinechoices.com</p>
        </li>
        <li>
          <p>www.aboutads.info/choices</p>
        </li>
        <li>
          <p>https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</p>
        </li>
        <li>
          <p>http://www.addthis.com/privacy/privacy-policy</p>
        </li>
      </ul>
      <p>In addition, the following resources can be of help:</p>
      <ul>
        <li>
          <p>European Interactive Digital Advertising Alliance (EU)</p>
        </li>
        <li>
          <p>Internet Advertising Bureau (US)</p>
        </li>
        <li>
          <p>Internet Advertising Bureau (EU)</p>
        </li>
        <li>
          <p>Google Chrome</p>
        </li>
        <li>
          <p>Internet Explorer</p>
        </li>
        <li>
          <p>Mozilla Firefox</p>
        </li>
        <li>
          <p>Safari (Desktop)</p>
        </li>
        <li>
          <p>Safari (Mobile)</p>
        </li>
        <li>
          <p>Android Browser</p>
        </li>
        <li>
          <p>Opera</p>
        </li>
        <li>
          <p>Opera Mobile</p>
        </li>
      </ul>
      <h5>Other questions</h5>
      <p>
        If you wish to contact us in connection with this Policy or the way in which our website uses your data, please use the following contact information:
      </p>
      <p>Short name: 14.4, vl. Matija Brlek</p>
      <p>Place: Vajdin vijenac 12, 10000 Zagreb</p>
      <p>OIB: 88111750347</p>
      <p>You can reach the data protection officer at: info@144.hr</p>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
