---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Crypto Kids campaign"
    url="https://tirecalli.com/crypto-kids-campaign"
    description="Sometimes the best hiding place is the one that's in plain sight. And with this premise we started to envision what is now visible and tangible, offered to you as TC22. All TC22 199144 items are neutral gender, crafted according to TC vision of universal wearability."
  />
  <body>
    <Header />
    <main class="overflow-hidden">
      <section class="crypto-quote" id="cryptoQuote">
        <div class="crypto-quote__content">
          <h4>"Sometimes the best hiding place is the one that's in plain sight." - Stephanie Meyer</h4>
          <h3><a href="https://www.skilledsurvival.com/gray-man/" target="_blank" rel="noopener noreferrer">from the Gray man theory</a></h3>
        </div>
      </section>
      <section class="video video--flex">
        <video
          class="vid"
          src="https://utfs.io/f/dedb633b-6119-4190-b4fc-786653c1caec_tire-calli-22-crypto-kids.mp4"
          poster="/img/tc22-crypto-kids-poster.webp"
          controls
          playsinline
          preload="none"></video>
      </section>
      <section class="crypto-intro" id="cryptoIntro">
        <div class="crypto-intro__item"><img src="/img/campaign/intro/tc22-crypto-kids.webp" alt="tirecalli-picture" /></div>
        <div class="crypto-intro__item crypto-intro__item--crop"><img src="/img/campaign/intro/tc22-crypto-kids-2.webp" alt="tirecalli-picture" /></div>
        <div class="crypto-intro__item crypto-intro__item--flex crypto-intro__item--crop">
          <img src="/img/campaign/intro/girl-in-black-side.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section class="crypto-girl">
        <img src="/img/campaign/intro/girl-in-red-close-up.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-with-glasses.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-with-lollipop.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-with-lollipop-2.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-in-black-t-shirt.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-in-denim-jacket.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-in-denim-jacket-2.webp" alt="tirecalli-picture" />
        <img src="/img/campaign/intro/girl-in-denim-jacket-3.webp" alt="tirecalli-picture" />
      </section>
      <section class="crypto-offering">
        <p class="text--white text--xl">And with this premise we started to envision what is now visible and tangible, offered to you as TC22.</p>
      </section>
      <section class="crypto-couple">
        <div class="crypto-couple__group">
          <img
            class="crypto-couple__item crypto-couple__item--gray crypto-couple__item--big"
            src="/img/campaign/intro/man-with-glasses.webp"
            alt="tirecalli-picture"
          />
          <img class="crypto-couple__item crypto-couple__item--gray" src="/img/campaign/intro/girl-in-red-close-up-2.webp" alt="tirecalli-picture" />
        </div>
        <div class="crypto-couple__group">
          <img class="crypto-couple__item" src="/img/campaign/intro/girl-with-lollipop-3.webp" alt="tirecalli-picture" />
          <img class="crypto-couple__item" src="/img/campaign/intro/tc22-crypto-kids-4.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section class="crypto-description" id="invisibility">
        <img src="/img/campaign/intro/tc22-crypto-kids-3.webp" alt="tirecalli-picture" />
        <div class="crypto-description__copy text--white">
          <div class="crypto-description__item">
            <div class="crypto-description__counter">01</div>
            <div class="crypto-description__text">
              <p>The complete TC22 offering is presented as an ongoing project, and is envisioned around (in)visibility.</p>
              <p>
                What does visible mean? Is it a bold overall print, a color, or could it be just the silhouette that will make you noticeable and even stand out
                at the right moment in the right setting?
              </p>
              <p>
                What does invisible mean? And how does the art of camouflage come into play? Can camo serve just as an inspiration? Being applied without being
                used literary?
              </p>
            </div>
          </div>
          <div class="crypto-description__item">
            <div class="crypto-description__counter">02</div>
            <div class="crypto-description__text">
              <p>With this thought, we took from what surrounds and inspires us; playing with thoughts about duality and juxtaposition.</p>
              <p>
                The idea of existing, at one point being present in a somewhat constant, even caged environment of a city, and on the other hand, wishing to
                escape to a setting which is constantly changing; the first being urban camo, the second, as much relevant and an obvious choice, being nature
                camo.
              </p>
              <p>
                We built on what we presented as TC21 199144, items inspired with the utilitarian approach to dressing, the functionality of wardrobe a martial
                arts practitioner wore centuries ago, but this time applied it to an urban setting, as urban camo.
              </p>
            </div>
          </div>
          <div class="crypto-description__item">
            <div class="crypto-description__counter">03</div>
            <div class="crypto-description__text">
              <p>
                Black denim was chosen as key source, signifying the key source that is present in each city, this being concrete and asphalt, dark and sturdy,
                resisting the elements but also, in a way, accepting them and with that, allowing a visible change which happens over time, years, even decades.
              </p>
              <p>Even with all of its lights, the city is a dark place with all the concrete walls and glass of skyscrapers, the streets, the subway lanes.</p>
              <p>
                The raw black denim in all its roughness will start to adapt to each individual, becoming a unique item in fit and color, both being noticeable,
                but maybe just at the second or third glance.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="gray-man">
        <div class="gray-man__group">
          <div class="gray-man__item">
            <p class="text--xxl">
              With the moving force of each city, this being the working class we thought about workers as builders, creators; a tiny force of great magnitude.
            </p>
          </div>
          <div class="gray-man__item gray-man__item--flex">
            <div></div>
            <p class="text--lg">
              Following the key premise of the Gray Man theory, the guidelines on how to dress to remain unnoticed, and with urban camouflage in mind, we set
              ourselves to create a uniform-like outfit, having in mind material, color, and the silhouette.
            </p>
          </div>
        </div>
        <video src="https://res.cloudinary.com/snsa-kscc/video/upload/crypto-neon.mov" autoplay muted playsinline loop></video>
        <div class="gray-man__group gray-man__group--spaced">
          <div class="gray-man__item">
            <p class="text--lg">
              <span class="text--xxl">The TC22 199144 offering is with this presented as a uniform</span>, a Basic Denim Overall Pant and a Basic Denim Jacket –
              as a layer of the Hybrid Jacket. Being neutral in color, fit and minimal in (visible) features, items, each in its own right, are envisioned and
              created as adaptable to each other and additional garments, thus serving you when creating your look, a uniform of a sort.
            </p>
          </div>
          <div class="gray-man__item gray-man__item--flex">
            <p class="text--lg">
              With a utilitarian approach to wardrobe the items are presented as spacey, oversized if you will, a comfortable wear, both being able to be worn
              in more than one way.
            </p>
            <div class="gray-man__item--flex-item"></div>
          </div>
        </div>
      </section>
      <section class="spacer"></section>
      <section class="crypto-item crypto-item-jacket">
        <div class="crypto-item-jacket__cta">
          <img src="/img/campaign/hybrid-jacket/hybrid-jacket-close-up.webp" alt="tirecalli-picture" />
          <div class="crypto-item__group">
            <div class="crypto-item__copy crypto-item__copy--first text--white">
              <h4>
                <span class="nbr ltr">8</span>
                <span class="nbr ltr">25</span>
                <span class="nbr ltr">2</span>
                <span class="nbr ltr">18</span>
                <span class="nbr ltr">9</span>
                <span class="nbr ltr">4</span>
              </h4>
              <h4>
                <span class="nbr ltr">10</span>
                <span class="nbr ltr">1</span>
                <span class="nbr ltr">3</span>
                <span class="nbr ltr">11</span>
                <span class="nbr ltr">5</span>
                <span class="nbr ltr">20</span>
              </h4>
            </div>
            <div class="crypto-item__cta">
              <a href="/Hybrid-Jacket/">
                <h2 class="centered text--white">Shop now</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="crypto-item-jacket__group">
          <div class="crypto-item-jacket__text crypto-item-jacket__text--flex">
            <div class="text--white">
              <p class="text--lg">
                <span class="text--xxl">A versatile servant of your expectations and needs</span> when fighting the elements, being a hybrid item.
              </p>
              <p class="text--lg">
                Consists of two pieces; this being TC Basic Denim Jacket, which can be worn as a single item, enriching your style through warmer months of
                early Spring and Fall, and the second one, TC Black Quilted Jacket.
              </p>
            </div>
            <div></div>
          </div>
          <div class="crypto-item-jacket__pics">
            <div class="crypto-item-jacket__item">
              <img src="/img/campaign/hybrid-jacket/girl-in-hybrid-jacket.webp" alt="tirecalli-picture" />
              <video src="https://res.cloudinary.com/snsa-kscc/video/upload/girl-in-hybrid-jacket.mov" autoplay muted playsinline loop></video>
            </div>
            <img src="/img/campaign/hybrid-jacket/girl-in-black-quilted-jacket-side.webp" alt="tirecalli-picture" />
            <img src="/img/campaign/hybrid-jacket/man-in-hybrid-jacket.webp" alt="tirecalli-picture" />
            <img src="/img/campaign/hybrid-jacket/girl-in-hybrid-jacket-2.webp" alt="tirecalli-picture" />
            <img src="/img/campaign/hybrid-jacket/hybrid-jacket-detail.webp" alt="tirecalli-picture" />
          </div>
          <div class="crypto-item-jacket__text">
            <p class="text--lg">
              <span class="text--xxl">The denim layer is crafted from raw black denim, fitted spacey oversized</span> with two directions as an inspiration, comfort
              and functionality of worker overalls and 90s hip hop scene as a cultural reference, whilst honoring the aesthetics of the 21st century Far East, this
              again being Korea and Japan.
            </p>
          </div>
          <div class="crypto-item-jacket__text">
            <p class="text--lg">
              <span class="text--xxl">The quilted layer is created true to size.</span> This item can be worn as a standalone protector from cold or can be styled
              two ways with the TC Basic Denim Jacket. Primarily envisioned as an inner layer, this one will serve your style as an outer layer as well.
            </p>
          </div>
        </div>
      </section>
      <section class="spacer"></section>
      <section class="crypto-item crypto-item-pants">
        <div class="crypto-item-pants__cta">
          <img src="/img/campaign/basic-denim-overall-pant/basic-denim-overall-pant.webp" alt="tirecalli-picture" />
          <div class="crypto-item__group">
            <div class="crypto-item__copy crypto-item__copy--first text--white">
              <h4>
                <span class="nbr ltr">2</span>
                <span class="nbr ltr">1</span>
                <span class="nbr ltr">19</span>
                <span class="nbr ltr">9</span>
                <span class="nbr ltr">3</span>
              </h4>
              <h4>
                <span class="nbr ltr">4</span>
                <span class="nbr ltr">5</span>
                <span class="nbr ltr">14</span>
                <span class="nbr ltr">9</span>
                <span class="nbr ltr">13</span>
              </h4>
            </div>
            <div class="crypto-item__copy crypto-item__copy--second text--white">
              <h4>
                <span class="nbr ltr">15</span>
                <span class="nbr ltr">22</span>
                <span class="nbr ltr">5</span>
                <span class="nbr ltr">18</span>
                <span class="nbr ltr">1</span>
                <span class="nbr ltr">12</span>
                <span class="nbr ltr">12</span>
              </h4>
              <h4>
                <span class="nbr ltr">16</span>
                <span class="nbr ltr">1</span>
                <span class="nbr ltr">14</span>
                <span class="nbr ltr">20</span>
              </h4>
            </div>
            <div class="crypto-item__cta">
              <a href="/Basic-Denim-Overall-Pant/">
                <h2 class="centered text--white">Shop now</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="crypto-item-pants__items">
          <div class="crypto-item-pants__items-left">
            <div class="crypto-item-pants__pic">
              <img src="/img/campaign/basic-denim-overall-pant/girl-in-basic-denim-overall-pant.webp" alt="tirecalli-picture" />
            </div>
            <div class="crypto-item-pants__pic">
              <img src="/img/campaign/basic-denim-overall-pant/basic-denim-overall-pant-detail.webp" alt="tirecalli-picture" />
            </div>
            <div class="crypto-item-pants__pic">
              <img src="/img/campaign/basic-denim-overall-pant/basic-denim-overall-pant-detail-buckle.webp" alt="tirecalli-picture" />
            </div>
            <div class="crypto-item-pants__pic">
              <img src="/img/campaign/basic-denim-overall-pant/man-in-basic-denim-overall-pant.webp" alt="tirecalli-picture" />
            </div>
          </div>
          <div class="crypto-item-pants__items-right">
            <div class="crypto-item-pants__item">
              <video src="https://res.cloudinary.com/snsa-kscc/video/upload/basic-denim-overall-pants.mov" autoplay muted playsinline loop></video>
            </div>
            <div class="crypto-item-pants__item text--lg">
              <p>
                A basic denim overall pant. At first glance. But if examined closely, when worn, additional styling techniques will emerge; playing with straps,
                using them as a belt, this item can be worn as a regular pant, high waist or low crotch.
              </p>
              <p>Deeply hidden, two additional inner pockets will reveal themselves only when being carefully looked for.</p>
            </div>
            <div class="crypto-item-pants__item">
              <video src="https://res.cloudinary.com/snsa-kscc/video/upload/basic-denim-overall-pants-buckle.mov" autoplay muted playsinline loop></video>
            </div>
          </div>
        </div>
        <div class="crypto-item-pants__text">
          <p class="text--lg">
            As the theme we set for ourselves was function and hybrid usability, two inspirations created the main direction; one being 90s hip hop - <span
              class="text--xxl">#AllBaggyEverything</span
            > - dropped crotch; and the second one, true to size - higher waist, functional workwear.
          </p>
        </div>
      </section>
      <section class="crypto-outro">
        <div class="crypto-outro__group">
          <div class="crypto-outro__pics">
            <img src="/img/campaign/basic-denim-overall-pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" />
            <img src="/img/campaign/basic-denim-overall-pant/girl-basic-denim-overall-pant-3.webp" alt="tirecalli-picture" />
          </div>
          <div class="crypto-outro__text">
            <p class="text--xxl">All TC22 199144 items are neutral gender, crafted according to TC vision of universal wearability.</p>
          </div>
          <div class="crypto-outro__pic">
            <div></div>
            <div><img src="/img/campaign/outro/tc22-crypto-kids-outro.webp" alt="tirecalli-picture" /></div>
          </div>
        </div>
        <div id="canvas"></div>
        <div class="crypto-outro__webgl">
          <img src="/img/campaign/outro/crypto-girl.webp" alt="tirecalli-picture" crossorigin="" />
        </div>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script src="../js/app-crypto-kids-campaign.js"></script>
  </body>
</html>
