---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body class="products">
    <Header />
    <main>
      <section class="cards">
        <a href="/Mint-Moth-Hoodie/">
          <article>
            <div class="card__image">
              <img src="/img/Mint-Moth-Hoodie/girl-in-mint-hoodie.webp" alt="tirecalli-picture" />
            </div>
            <h5>Mint Moth Hoodie</h5>
            <div class="card__description">
              <p>60 eur</p>
            </div>
          </article>
        </a>
        <div></div>
        <div></div>
        <!-- <a href="/Mint-Moth-Upcycled-Dress/">
          <article>
            <div class="card__image">
              <img src="/img/Mint-Moth-Upcycled-Dress/girl-in-upcycled-mint-dress-back.webp" alt="tirecalli-picture" />
            </div>
            <h5>Mint Moth Upcycled Dress</h5>
            <div class="card__description">
              <p>40 eur</p>
            </div>
          </article>
        </a>
        <a href="/Mint-Moth-Upcycled-Crop/">
          <article>
            <div class="card__image">
              <img src="/img/Mint-Moth-Upcycled-Crop/girl-in-upcycled-mint-crop-top.webp" alt="tirecalli-picture" />
            </div>
            <h5>Mint Moth Upcycled Crop</h5>
            <div class="card__description">
              <p>40 eur</p>
            </div>
          </article>
        </a> -->
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
