---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <section class="invisibility">
        <div class="invisibility__content">
          <h4 class="opacity-hidden">"Sometimes the best hiding place is the one that's in plain sight." - Stephanie Meyer</h4>
          <h3><a href="/campaign#invisibility">from TC22 campaign brief</a></h3>
        </div>
      </section>
      <section class="offering text--lg">
        <div></div>
        <div>
          <p>The complete TC22 offering was presented as an ongoing project and is (still) envisioned around (in)visibility.</p>
          <p>
            What does visible mean? Is it a bold overall print, a color, or could it be just the silhouette that will make you noticeable and even stand out at
            the right moment in the right setting?
          </p>
        </div>
      </section>
      <section class="invisibility third">
        <div class="text-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non
            tellus orci ac auctor augue. Pharetra magna ac placerat vestibulum. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Aliquet enim
            tortor at auctor urna nunc. Porttitor eget dolor morbi non arcu risus quis varius quam. Tellus cras adipiscing enim eu.
          </p>
        </div>
      </section>
      <section class="invisibility fourth">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non
            tellus orci ac auctor augue. Pharetra magna ac placerat vestibulum. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Aliquet enim
            tortor at auctor urna nunc. Porttitor eget dolor morbi non arcu risus quis varius quam. Tellus cras adipiscing enim eu.
          </p>
        </div>
      </section>
      <section class="invisibility fifth">
        <div class="paragraph-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non
            tellus orci ac auctor augue. Pharetra magna ac placerat vestibulum. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Aliquet enim
            tortor at auctor urna nunc. Porttitor eget dolor morbi non arcu risus quis varius quam. Tellus cras adipiscing enim eu.
          </p>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script src="../js/app-idx.js"></script>
  </body>
</html>
