---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main class="m-0">
      <section class="hero-collection">
        <img src="/img/skater-in-sand-brown-licitar-tshirt.webp" alt="tirecalli-picture" />
        <div>
          <h6>Find Your Heart Cœurt</h6>
        </div>
      </section>
      <section class="hero">
        <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
        <div class="centered">
          <h6>TC23/4 Heart Cœurt</h6>
          <div class="flex">
            <a href="shop">
              <h3 class="mt centered">shop</h3>
            </a>
            <h3 class="mt">&#8210;</h3>
            <a href="heart-coeurt-campaign">
              <h3 class="mt centered">explore</h3>
            </a>
          </div>
        </div>
      </section>
      <section class="cards">
        <a href="/Sand-Brown-Licitar-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
            </div>
            <h5>Sand Brown Licitar T-Shirt</h5>
            <div class="card__description">
              <p>70€</p>
            </div>
          </article>
        </a>
        <a href="/Nude-Pink-Licitar-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/Nude-Pink-Licitar-T-Shirt/man-in-nude-pink-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
            </div>
            <h5>Nude Pink Licitar T-Shirt</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
        <a href="/Pale-Lemon-Licitar-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/Pale-Lemon-Licitar-T-shirt/man-in-pale-lemon-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
            </div>
            <h5>Pale Lemon Licitar T-Shirt</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
        <a href="/Ash-Brown-Licitar-Longsleeve-T/">
          <article>
            <div class="card__image">
              <img src="/img/Ash-Brown-Licitar-T-Shirt/girl-in-ash-brown-licitar-longsleeve-t-shirt-side-detail.webp" alt="tirecalli-picture" />
            </div>
            <h5>Ash Brown Licitar Longsleeve T</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
      </section>
      <section class="hero first-hero">
        <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-back.webp" alt="tirecalli-picture" />
        <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-and-denim-pants-back.webp" alt="tirecalli-picture" />
        <div class="centered">
          <h6>TC22 199144 Crypto Kids</h6>
          <div class="flex">
            <a href="shop">
              <h3>shop now</h3>
            </a>
          </div>
        </div>
      </section>
      <section class="hero second-hero">
        <div class="centered">
          <h6>TC21 New Life</h6>
          <div class="flex">
            <a href="199144-campaign">
              <h3>learn more</h3>
            </a>
          </div>
        </div>
        <img src="/img/tc21-new-life-1.webp" alt="tirecalli-picture" />
        <img src="/img/tc21-new-life-2.webp" alt="tirecalli-picture" />
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script src="../js/app-index.js"></script>
  </body>
</html>
