---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <section class="invisibility">
        <div class="invisibility__content">
          <h2 class="opacity-hidden">"Sometimes the best hiding place is the one that's in plain sight." - Stephanie Meyer</h2>
          <h3><a href="/campaign#invisibility">from TC22 campaign brief</a></h3>
        </div>
      </section>
      <section class="offering text--lg">
        <div></div>
        <div>
          <p>The complete TC22 offering was presented as an ongoing project and is (still) envisioned around (in)visibility.</p>
          <p class="mt">
            What does mean? Is it a bold overall print, a color, or could it be just the silhouette that will make you noticeable and even stand out at the
            right moment in the right setting?
          </p>
        </div>
      </section>
      <section class="camouflage">
        <div class="camouflage__wrapper">
          <div>
            <img src="/img/tirecalligraphy-tc23-collection-inspo.webp" alt="tirecalli-picture" />
          </div>
          <div class="camouflage__copy">
            <p class="text--xxl">What does invisible mean?</p>
            <p class="text--xxl">And how does the art of camouflage come into play?</p>
            <p class="text--lg">Can camo serve just as an inspiration? Being applied without being used literary?</p>
            <p class="text--lg">With this thought, we took from what surrounds and inspires us…</p>
          </div>
        </div>
      </section>
      <section class="nature-camo">
        <div class="nature-camo__wrapper">
          <div>
            <img src="/img/tirecalligraphy-tc23-collection-inspo3.webp" alt="tirecalli-picture" />
          </div>
          <div class="nature-camo__copy mt-xl">
            <p class="text--lg">
              The idea of existing, at one point being present in a somewhat constant, even caged environment of a city, and on the other hand, wishing to
              escape to a setting which is constantly changing; the first being urban camo, (presented in TC22 Crypto kids offering), and the second, as much
              relevant and an obvious choice, being nature camo.
            </p>
          </div>
        </div>
      </section>
      <section class="martial-arts">
        <div class="martial-arts__pic martial-arts__pic--left">
          <img src="/img/tirecalligraphy-tc23-collection-inspo2.webp" alt="tirecalli-picture" />
        </div>
        <div class="martial-arts__copy text--lg">
          <p>
            All of the TC22 and TC23/4 pieces were envisioned with the same concept in mind; we built on what we presented as TC21 199144, items inspired with
            the utilitarian approach to dressing, the functionality of wardrobe a martial arts practitioner wore centuries ago, but this time being applied to
            an urban setting, as urban camo – for an urban practitioner of The Arts.
          </p>
        </div>
        <div class="martial-arts__pic martial-arts__pic--right">
          <img src="/img/tirecalligraphy-tc23-collection-inspo4.webp" alt="tirecalli-picture" />
        </div>
      </section>
      <section class="spotify">
        <div>
          <img src="/img/tirecalligraphy-tc23-collection-inspo-spotify-playlist.webp" alt="tirecalli-picture" />
        </div>
        <div class="spotify__link-group">
          <div>
            <img src="/img/tirecalligraphy-tc23-collection-inspo-spotify2.webp" alt="tirecalli-picture" />
          </div>
          <div class="spotify__link-copy">
            <p class="text--lg">
              To get inspired check out our new playlist on
              <a
                href="https://open.spotify.com/user/45x6aikpn8hg9ziczww1q5gku?si=b1c846b98b824752&nd=1"
                target="_blank"
                rel="noopener noreferrer"
                class="text--xxl"
                >Spotify.
              </a>
            </p>
          </div>
        </div>
      </section>
      <section class="teaser">
        <div class="teaser__content">
          <h2>TC23/4 coming soon</h2>
        </div>
      </section>
      <section class="new-collection">
        <img src="/img/tc-21-22-new-collection.webp" alt="tirecalli-picture" />
        <div>
          <h4>TC22 CRYPTO KIDS</h4>
          <div class="flex">
            <a href="campaign">
              <h2 class="centered">explore collection</h2>
            </a>
          </div>
        </div>
      </section>
      <section class="video">
        <video class="vid" src="https://utfs.io/f/dedb633b-6119-4190-b4fc-786653c1caec_tire-calli-22-crypto-kids.mp4" autoplay muted playsinline></video>
        <div class="controls">
          <div class="sound sound-mute">
            <div class="sound--icon"></div>
            <div class="sound--wave sound--wave_one"></div>
            <div class="sound--wave sound--wave_two"></div>
          </div>
        </div>
      </section>
      <section class="hero first-hero">
        <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-back.webp" alt="tirecalli-picture" />
        <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-and-denim-pants-back.webp" alt="tirecalli-picture" />
        <div class="centered">
          <h6>TC22 199144 Crypto Kids</h6>
          <div class="flex">
            <a href="shop">
              <h3>shop now</h3>
            </a>
          </div>
        </div>
      </section>
      <section class="video video--flex">
        <video class="vid" src="https://res.cloudinary.com/snsa-kscc/video/upload/TC21-3D-Visual-Enhancer.mp4" controls playsinline></video>
        <div class="text--white">
          <h6 class="centered">Watch TC21 Experience</h6>
        </div>
      </section>
      <section class="hero second-hero">
        <img src="/img/tc21-new-life-1.webp" alt="tirecalli-picture" />
        <img src="/img/tc21-new-life-2.webp" alt="tirecalli-picture" />
        <div class="centered">
          <h6>TC21 New Life</h6>
          <div class="flex">
            <a href="campaign.html#199144">
              <h3>learn more</h3>
            </a>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script src="../js/app-idx.js"></script>
  </body>
</html>
