---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head title="Tire Calligraphy - Legal" url="https://tirecalli.com/legal" />
  <body>
    <Header />
    <main class="legal">
      <h2>TERMS AND CONDITIONS</h2>
      <h5>TERMS AND CONDITIONS OF SALE ("SALES TERMS")</h5>
      <p>
        These Sales Terms are applicable to the Tire Calligraphy Online Shop ("Online Shop") at www.tirecalli.com and to orders and sale transactions for
        products available at the Online Shop ("Product").
      </p>
      <p>
        The Online Shop is owned by and operated by 14.4, obrt za usluge i trgovinu, vl. Matija Brlek, Zagreb, Vajdin vijenac 12; short name: 14.4, vl. Matija
        Brlek (herein, "14.4", "we" or "us" as the context may require). The Online Shop is owned by and operated by 14.4; and is the seller of the Products.
      </p>
      <p>Short name: 14.4, vl. Matija Brlek</p>
      <p>Place: Vajdin vijenac 12, 10000 Zagreb</p>
      <p>Business bank and account number:</p>
      <p>Privredna banka Zagreb d.d., IBAN: HR5923400091160542572</p>
      <p>OIB: 88111750347</p>
      <p>MBS: 97927805</p>
      <p>Owner: Matija Brlek</p>
      <p>Contact: info@144.hr</p>
      <p>
        With regard to your purchases in the Online Shop we will communicate electronically by sending email or posting electronically. You agree that all
        agreements, notices, disclosures and other communications that are provided electronically satisfy any legal requirement that such communications be in
        writing.
      </p>
      <p>Please note that these Sales Terms give you specific rights, and you may have other rights, which vary from jurisdiction to jurisdiction.</p>
      <h5>ABOUT THESE SALES TERMS</h5>
      <p>
        These Sales Terms only apply to purchases made in this Online Shop. From time to time, Tire Calligraphy may change or alter these Sales Terms which will
        be applicable to orders placed on or after the effective date stated by Tire Calligraphy.
      </p>
      <p>
        Information contained in Tire Calligraphy advertising, brochures or other written materials, on Tire Calligraphy web site or given to you, is for
        information only and not an offer by Tire Calligraphy to supply any Products.
      </p>
      <p>BY PLACING AN ORDER FOR PRODUCTS, YOU AGREE TO BE BOUND BY AND ACCEPT THESE SALES TERMS.</p>
      <h5>PLACING AN ORDER</h5>
      <p>To be able to buy Products you have to:</p>
      <p>Provide your name and address, phone number, email address, payment details and other required information.</p>
      <p>Be at least 16 years of age.</p>
      <p>
        Be the owner or authorized holder of a valid payment card. You may place an order by clicking on the "Add to cart" button and proceeding to the checkout
        page.
      </p>
      <p>
        For the time being you are not obligated to create a Tire Calligraphy account to be able to buy Products. When you create a Tire Calligraphy account you
        will also create a personal user identification (your username) and password. Keep your password protected at all times and do not disclose it to anyone
        else as you are personally responsible for each purchase made using your user identification and password.
      </p>
      <h5>ORDER PROCESSING AND CONTRACT FORMATION</h5>
      <p>
        You agree that your order is an offer to buy the Products listed in your order under these Sales Terms. All orders must be accepted by Tire Calligraphy.
        We may choose not to accept abnormal orders and orders which Tire Calligraphy suspects are not placed in good faith.
      </p>
      <p>
        After having received your order, Tire Calligraphy will send you an order confirmation via email with your order number and details of the items you
        have ordered.
      </p>
      <p>
        Acceptance of your order and the formation of the contract of sale between Tire Calligraphy and you will not take place unless and until you have
        received your Tire Calligraphy order confirmation email.
      </p>
      <p>
        You have the option to cancel your order at any stage by contacting Tire Calligraphy through the contact form before we have sent Your Tire Calligraphy
        Order confirmation email.
      </p>
      <h5>PRICES, SHIPPING AND HANDLING, CHARGES AND TAXES</h5>
      <p>
        The price charged for a Product will be the price in effect at the time the order is placed and will be set out in the order receipt and order
        confirmation emails. Tire Calligraphy may change prices at any time without notice. Price increases will only apply to orders placed after such changes.
      </p>
      <p>
        Tire Calligraphy charges sales tax where required by law. If you are shipping to provinces where sales tax is charged, the appropriate charges will be
        added to your merchandise total and displayed in your Tire Calligraphy Order. Prices for the Products do not include charges for shipping and handling.
      </p>
      <p>Separate charges for tax and shipping will be itemized in your shopping cart and on Your Tire Calligraphy order confirmation email.</p>
      <h5>PRODUCT AVAILABILITY AND DELIVERY, CIRCUMSTANCES BEYOND REASONABLE CONTROL</h5>
      <p>
        Tire Calligraphy does not guarantee the availability of any Product in the Online Shop. Tire Calligraphy reserves the right, without liability or
        earlier notice, to change, discontinue or stop making any Product.
      </p>
      <p>
        We will provide you with the information on the latest expected delivery date which will not exceed 30 days unless you specifically agree on a later
        date.
      </p>
      <p>
        In case you unreasonably delivery or delay the receipt of delivery after we have notified you that we have tried to deliver the ordered items to you, or
        if you have provided us with an incorrect delivery address which results in an unsuccessful delivery, the delivery package will be returned to us.
      </p>
      <p>
        Delivery options are defined in checkout and may change. Delivery based on the option selected is not guaranteed. Reimbursement for payment of the
        express delivery price will occur, if the service requested was not delivered on time.
      </p>
      <p>
        If the items remain undelivered and are returned to us undelivered, we consider that you have exercised your right to cancel the contract and when we
        receive the returned delivery package, we will refund you in accordance with our return policy less the reasonable additional costs incurred by Tire
        Calligraphy.
      </p>
      <p>
        Customer desiring to return or refuse delivery will be best serviced by receiving the delivery and following the return instructions included in the
        package.
      </p>
      <p>
        Tire Calligraphy shall not be held responsible for delay or failure to perform if the delay or failure is caused by any circumstances beyond its
        reasonable control including but not limited to acts of war or terror, strikes, national or local states of emergency, failure of transportation
        facilities, power or utility outages, earthquakes, or other natural disasters.
      </p>
      <h5>COMPATIBILITY, PRODUCT INFORMATION</h5>
      <p>
        When placing your order please ensure that the Products you purchased are compatible for the intended use. Please use the information provided in the
        Online Shop as reference when checking compatibility. In the event of a difference between the Online Shop content and any other Tire Calligraphy (or
        non-Tire Calligraphy) web site (or any other source of information) the compatibility of Products as shown on the Online Shop at the time of purchase
        will be seen as taking precedence. We encourage you to examine the delivery package and received items within fourteen days after they are delivered to
        you and check their condition and that the content of the delivery package is complete.
      </p>
      <h5>PAYMENT</h5>
      <p>
        Payment shall be made by a credit or debit card) via PayPal as a payment processor for the time being, or other form of payment approved from
        time-to-time by Tire Calligraphy. Additional payment methods will be added in due time. Approved credit and debit card types are listed in the Online
        Shop. You have to supply your payment details when you place your order. Your credit card may not be accepted if: (i) the name on the credit card does
        not match the billing name given or (ii) the billing address given does not match the bank records. Your payment will be charged on shipment of the
        ordered items. We will not supply the items to you until payment is confirmed. As your Order confirmation email is your proof of purchase, we recommend
        that you save and print that document for your potential future use.
      </p>
      <h5>TITLE TO PRODUCTS</h5>
      <p>Tire Calligraphy retains full legal title to Products until it has received all amounts due on the ordered Products.</p>
      <h5>RETURN AND REFUND, OTHER OPTIONS</h5>
      <p>
        If you have bought Products for your own private use as a consumer and want to exercise your right to cancel the contract and return the items, you have
        purchased return the product within thirty (30) calendar days after the date of receipt of the delivery and correctly follow the instructions on the
        return form provided with your shipment.
      </p>
      <p>Once we have received and validated your returned items, we will confirm it to you by email. Refund will be processed by us and confirmed by email.</p>
      <p>
        If the Products you have received do not correspond to the ones you have ordered, or if your delivery is incomplete or damaged in transportation, please
        contact without delay.
      </p>
      <h5>HOW TO RETURN ITEMS?</h5>
      <p>A pack slip and return form will be inserted within your package with return instructions.</p>
      <p>You must return the items in their original package.</p>
      <p>You must include all accessories, user manuals and any free gifts that came in the same package.</p>
      <p>Where an item has been purchased as a part of a bundle of multiple items, all multiple items within that bundle must be returned.</p>
      <p>Please treat the items with care and return them in the condition that they were delivered to you.</p>
      <p>
        Please use, if possible, the original delivery package or pack the items securely and make sure that the filled out return form is included inside the
        box and place the pre-printed return label on the outside of the packing used for shipping.
      </p>
      <p>Replacement or refund can only be processed once we have received all the items to be returned.</p>
      <p>
        If you return items 1) that you are not entitled to return, 2) that are not in their original condition, 3) that are without proper or missing
        packaging, 4) with items missing from the return delivery, 5) without following our return instructions, or 6) have otherwise failed to exercise
        reasonable care when taking care of and returning items, we reserve the right either to reject your return and decline to refund or to deduct from those
        payments to be refunded to you reasonable repair or other similar direct costs that we have incurred, subject to applicable law.
      </p>
      <p>
        If your return has been accepted, we will refund you the price you have actually paid for the items less any applicable shipping costs (as per the
        above) by crediting your payment card, reissuing a gift card, or a Product Replacement Voucher fifteen (15) calendar days after the date of receipt of
        the delivery.
      </p>
      <p>Please note that Tire Calligraphy will only process returns and refunds for items bought in this Online Shop.</p>
      <h5>PERSONAL DATA</h5>
      <p>
        The Tire Calligraphy privacy policy and additional provisions in these Sales Terms govern the use of your personal data. Purchasing of goods in the
        Online Store requires that you accept the Tire Calligraphy privacy policy and the processing of personal data as described in the Tire Calligraphy
        privacy policy.
      </p>
      <h5>OUR LIABILITY</h5>
      <p>
        These Sales Terms set out the full extent of our obligations and liabilities in respect of the Products. To the extent permitted by applicable law,
        there are no other warranties, conditions or other terms that are binding on us than the ones mentioned in these Sales Terms. In particular, we will not
        be responsible for ensuring that the Products are suitable for your purposes.
      </p>
      <p>
        We shall not be liable whether in contract, tort or otherwise for any economic losses (including without limitation loss of income, loss of profits,
        loss of contracts, business or anticipated savings), loss of data, loss of goodwill or reputation or for any special, indirect, consequential or
        punitive loss or damage of any kind howsoever arising. Some jurisdictions do not allow the exclusion or limitation of incidental or consequential
        damages, so the above limitation may not apply to you.
      </p>
      <h5>GENERAL</h5>
      <p>
        If any provision or provisions of these Sales Terms shall be held to be invalid, illegal or unenforceable, that provision shall be enforced to the
        fullest extent permitted by applicable law, and the validity, legality and enforceability of the remaining provisions shall not in any way be affected
        or impaired.
      </p>
      <h5>CONTACT DETAILS</h5>
      <p>Tire Calligraphy customer service will assist you with any questions. You can contact us through the contact form.</p>
      <h5>GOVERNING LAW</h5>
      <p>These Sales Terms shall be governed and construed in accordance with laws of the Republic of Croatia.</p>
      <h5>PRIVACY POLICY</h5>
      <p>
        The Online Shop is owned by and operated by 14.4, obrt za usluge i trgovinu, vl. Matija Brlek, Zagreb, Vajdin vijenac 12; short name: 14.4, vl. Matija
        Brlek (herein, "14.4", "we" or "us" as the context may require). The Online Shop is owned by and operated by 14.4; and is the seller of the Products.
      </p>
      <p>
        By accepting this Privacy Policy, the user (hereinafter, the "Customer" or the "Customers") is hereby informed and gives their consent for processing of
        the personal data that they may provide through the web page located in the URL https://www.tirecalli.com (hereinafter, the "Online shop"), as well as
        to the processing of the data derived from their browsing, and any other data that they may provide in the future.
      </p>
      <p>
        The data requested on the web forms are generally compulsory (unless in the field in question it is specified to the contrary) so as to comply with the
        purposes for which they are collected.
      </p>
      <p>
        Therefore, if they are not provided, or they are not provided correctly, these purposes cannot be fulfilled, notwithstanding that you will be able to
        freely visualize the content of the Online shop.
      </p>
      <p>The personal data provided via the Online shop shall be processed by Tire Calligraphy for the purposes of:</p>
      Formalizing a purchase - Managing, processing and monitoring purchases; contacting the Customer to complete the order if necessary. To manage, process and
      respond to petitions, requests, incidents or enquiries by the Customer.
      <p>To manage the subscription and/or unsubscribe from the Newsletter.</p>
      <p>Tire Calligraphy will process the following categories of Customer data:</p>
      <p>Identification data: name, surname and National Identification Number.</p>
      <p>Contact information: e-mail address, telephone number and postal address.</p>
      <p>
        Transaction data relative to goods and services offered by Tire Calligraphy: products and services acquired or with respects to which the Customer has
        shown interest.
      </p>
      <p>Economic and financial data: bank card.</p>
      <p>Browsing data.</p>
      <p>The Customer:</p>
      <p>
        The Customer guarantees that she/he is at least sixteen (16) years of age and that the data provided to Tire Calligraphy is true, exact, complete and
        updated. To this end, the Customer is responsible for the veracity of all the data provided, and shall maintain the information conveniently updated, so
        that it corresponds to their actual situation.
      </p>
      <p>
        Guarantees that it has informed third parties whose data it has provided, in the event of acting in such a manner, of the contents of this document.
        Similarly, it guarantees that it has obtained their authorization for providing this data to Tire Calligraphy for the aforesaid purposes.
      </p>
      <p>
        Shall be responsible for any false or inexact information that it provides through the Website, and for the direct or indirect damages or losses that
        this may cause Tire Calligraphy or third parties.
      </p>
      <h5>SHIPPING & DELIVERY</h5>
      <p>Tire Calligraphy currently offers two types of shipping: domestic (Croatia) and worldwide.</p>
      <p>All orders are shipped via Croatian Post. All applicable customs fees, taxes and duties are the sole responsibility of the customer.</p>
      <p>
        The estimated processing and delivery time using express shipping is approximately 3 - 5 business days, however this timeline may vary with the final
        destination. Please allow 7 - 10 business days for worldwide locations.
      </p>
      <p>Note: Please be aware, our shipping partners are experiencing COVID-19 related delays which may result in extended delivery times.</p>
      <p>After your order has been processed you will receive a shipping confirmation email with the tracking number(s).</p>
      <p>If you have additional questions, please contact us through the contact form.</p>
      <h5>RETURNS & REFUNDS</h5>
      <p>Items purchased at tirecalli.com may be returned for up to 30 days after the original purchase date.</p>
      <p>Before returning the item(s) please contact us for further details, as the item(s) must be approved for a return & refund.</p>
      <p>
        Item(s) must be unused, with tags, labels and are returned in their original packaging. If the items are not in sellable condition due to negligence or
        abuse, they will not be accepted.
      </p>
      <p>
        Refunds are issued in the form of the original payment. Tire Calligraphy will provide a full refund for the value of the purchased item in the same form
        as the original payment. NOTE: The customer ships the item(s) at his/hers cost.
      </p>
      <p>Refunds may take between 5 - 7 business days to process once an item has been delivered to our warehouse.</p>
      <p>If you have additional questions, please contact us through the contact form.</p>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
