---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - New Life Collection"
    url="https://tirecalli.com/new-life"
    description="Continuing our pursuit for the minimal, but still, garments optimal in wearability, the effort was once again concentrated in creating a line of timeless and fashionless items, we believe are, and will remain new-timeless-classics. To juxtapose the new 199144 pieces to the initial white ones, every item is black, fitting together perfectly."
  />
  <body class="products">
    <Header />
    <main>
      <section class="cards">
        <a href="/New-Life-Black-Hoodie/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black Hoodie</h5>
            <div class="card__description">
              <p><s>200€</s> 120€</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Gray-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Gray T-Shirt</h5>
            <div class="card__description">
              <p><s>110€</s> 66€</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Black-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-T-Shirt/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black T-Shirt</h5>
            <div class="card__description">
              <p><s>90€</s> 54€</p>
            </div>
          </article>
        </a>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
