---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body class="products">
    <Header />
    <main>
      <section class="cards">
        <a href="/New-Life-Black-Hoodie/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black Hoodie</h5>
            <div class="card__description">
              <p>200 eur</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Gray-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Gray T-Shirt</h5>
            <div class="card__description">
              <p>110 eur</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Black-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-T-Shirt/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black T-Shirt</h5>
            <div class="card__description">
              <p>90 eur</p>
            </div>
          </article>
        </a>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
