---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Conversation with Nikolina Mišeta and Iva Komesar"
    url="https://tirecalli.com/nikolina-and-iva"
    description="A conversation with Nikolina and Iva, BZona and Cruising Ladies."
  />
  <body>
    <Header />
    <main class="conversation">
      <section class="feature">
        <picture class="inherit">
          <source srcset="/img/conversation/cruising-ladies-bzona-2.webp" media="(max-width: 750px)" />
          <img src="/img/conversation/cruising-ladies-bzona.webp" alt="tirecalli-picture" />
        </picture>
        <div class="feature__description">
          <h4 class="orange">Nikolina and Iva x TC – BZona and Cruising Ladies</h4>
          <h3 class="inline">Matija for TC in conversation with Nikolina Mišeta and Iva Komesar</h3>
        </div>
      </section>
      <article>
        <p class="article__intro">Winter’s in full affect, Spring just around the corner, ‘a New Life’ (pun intended)…</p>
        <p>So one board is in use now, but will soon be replaced with another one, right? You all like decks…</p>
        <h4 class="article__greet">Hey Ladies!</h4>
        <p>But let me stop with the cryptic talk, which one of you would like to explain what your two crews are about?</p>
        <h2>Nikolina – BZona</h2>
        <h2>Iva – Cruising ladies</h2>
        <p class="article__question article__question--small-margin">Which one was formed first, BZona or Cruising Ladies?</p>
        <h5>Nikolina</h5>
        <p>
          This is so strange, how these two crews wound up together, or maybe it was destiny, kiddin'. Bzona was founded in 2004. as a non-profit organization
          with a goal to promote Snowboarding as a sport and in 2017. (I think) maybe 2018. the old crew decided to pass the organization on younger
          generations.
        </p>
        <h5>Iva</h5>
        <p>
          BZona has many goals, one of them is promoting snowboarding among women and creating a much-needed community for girls in this sport. There were some
          members of Cruising ladies that were already shredding during Winter with BZona so when the spring came (2021.) most of the girls just kept hanging
          and switched „snow“ for „long“, in the light of this „shred girls“ idea, with the goal of keeping this girl community alive during warm months. Some
          of the girls were already cruising around with the idea of forming an all-girl longboard crew, while other were getting this idea at the same time so
          we kind of all ended up together through the mutual acquaintances and formed a crew. So basically, there would be no Cruising ladies without BZona.
          Mutual passion and lifestyle is what gave this crew life, but the support and feeling you get as a girl from your girlfriends while doing these kinds
          of things is something else, this is what kept the girls going.
        </p>
        <p>
          So, to answer, Cruising ladies is about creating community for girls, giving all the girls who lack this kind of support an opportunity to have
          company, support, and a place to share skills, learn new things, make them feel appreciated for their hobbies and most important – to have fun!
        </p>
        <div class="article-images">
          <img src="/img/conversation/bzona-snowboard-black-hoodie-sljeme-2.webp" alt="tirecalli-picture" />
          <img src="/img/conversation/bzona-snowboard-black-hoodie-sljeme.webp" alt="tirecalli-picture" />
        </div>
        <p class="article__question">
          Let’s continue with the ‘past’, so to speak… so, snowboarding, how and why have you decided to try and have stuck with this Winter discipline?
        </p>
        <h5>Nikolina</h5>
        <p>
          I think most snowboarders have the same story, first tried skiing shortly realized that snowboarders are much cooler (:D) and with the board you can
          do more amusing stuff. Once you learn the basics you can choose the discipline which inspires you most. My favorite discipline is Slopestyle;
          BoarderCross, BigAir, Halfpipe, and FreeRide are also fun (for me) but sliding on rails and bars provides me with feeling mixed with adrenaline, joy,
          happiness, and satisfaction.
        </p>
        <p class="article__question">
          Is it just love and fun, or have you ever thought of trying to ride pro? Is this even possible in Croatia? Talking about pro riding in general, what
          disciplines are there?
        </p>
        <p>
          Now it is fun and desire to share this amazing sport with kids and people around me, but in past I had some years of training and doing FIS
          competitions trying to catch points so you can end up higher on FIS rang list. It went well, in 2016. I was 16th in SlopeStyle in Europe, shortly
          after decided to point my snowboard career in educational direction, so now I'm in the Croatian Demo Team passing knowledge to younger generations and
          people who want to be a snowboard instructor.
        </p>
        <p>
          It is funny, because with so little snow here, we have actually very good riders, for example, Dante Brčić who won Youth Olympics Games in 2022. Also
          in Croatia, we have two mountains Sljeme and Platak where you can go skiing and snowboarding for a very good price.
        </p>
        <p class="article__question">
          I would conclude, you love to travel, right? Visit new places, get to know new interesting (groups of) people? Would you care to share some of your
          experiences?
        </p>
        <p>
          Yes, that's true. I think it is impossible that year goes by without travel. One of the best experiences was the time when I went to the place called
          Niseko on Hokkaido, a popular ski resort in Japan. I spent 7 days there and every day 15 cm of snow would fall, so you could ride fresh powder every
          day, we were like kids in the sandbox.
        </p>
        <img src="/img/conversation/snowboard-sljeme-grind.webp" alt="tirecalli-picture" />
        <p class="article__question">
          What places in Europe and then world, are great for riding, and let us cover everything, a little bit for comp and ofc, your fav spots?
        </p>
        <p>
          There are a lot of nice ski resorts in Europe, but I always aim for resorts that have snowparks. Community in snowparks is so special, you are
          surrounded by people that have the same interests and share the same passion for this sport. You can always learn some new tricks and gain some good
          bits of advice from other riders. I think the best places to snowboard in snowparks are Flahauwinkl in Austria and Laax in Switzerland, they have
          parks several ski trails long. It is like paradise!
        </p>
        <p class="article__question">What spots would you recommend in Croatia, for example to a rider visiting from abroad?</p>
        <p>
          As I have mentioned earlier, I would always recommend visiting Sljeme and Platak mountain, they are beautiful in winter and summer. Both paces have
          snowparks and good slopes to ride.
        </p>
        <p class="article__question">
          Last year, (2022.), you’ve built a Snowpark on Sljeme (the peak of Zagreb’s Medvednica mountain). Why have you decided to take this action and how
          difficult was the process? Where there obstacles and overall, are you satisfied with the end result?
        </p>
        <p>
          Historically speaking, there were so many attempts to open Snowpark on Sljeme but none went well, till this year. Matija Pogorilić and I started
          thinking about how to approach it, and after too many meetings, some were promising, and some were total disaster we decided to do a crowdfunding
          campaign, so we collected a small amount of money to create obstacles in the Snowpark and to pay for necessary costs. As always bureaucracy was too
          complex with no reason, but we managed to get all permits, so we did it!
        </p>
        <p>
          We are so glad this year went very well, you could see people from all generations visiting Snowpark, enjoying jibbing and chilling, just enjoying the
          great atmosphere. This year we could see some youngsters doing their thing on boxes, rails, and kickers, we can see some good future.
        </p>
        <p class="article__question">What would you say is the future of the sport in Croatia?</p>
        <p>First of all, global warming is a BIG issue, so please take care of nature and don't use plastic, do dispose of waste, and so on…</p>
        <p>In Croatia future of this sport are children who use Snowpark, kids who will continue enjoying in this wonderful lifestyle.</p>
        <p class="article__question">So, you organize kid sessions as well. What are your thoughts about the next gen of riders?</p>
        <p>
          Yes! This year we could see some good kids doing tricks and enjoying riding, so we are doing a training program on snow for season 2023./2024. Next
          year we will organize more sessions for kids and adults.
        </p>
        <p class="article__question">Could be a dumb question, but bear with me, are there more female or male riders?</p>
        <p>
          Hahaha, excuse me, yes this is the thing with extreme sports and genders, guys are always into it more than girls. But you can always see some shred
          girl doing her thing on obstacles. ;)
        </p>
        <img src="/img/conversation/snowboard-sljeme-shred.webp" alt="tirecalli-picture" />
        <p class="article__question">
          And let me continue with another dumb one, because I know it’s highly individual, but let me put it out there still, how long does it take to learn
          how to ride, decently?
        </p>
        <p>
          No, this is a good one! The person will learn how to ride in 3 to 4 days, beginnings are not so easy, there will be a lot of falls and wet asses, but
          eventually joy of riding board compensates for all of that. And it is so interesting you can progress at any stage of knowledge.
        </p>
        <p class="article__question">Let’s talk about the process, the training, the learning curve. What was your process like?</p>
        <p>Uh, do not know what to tell you...everyone has their own path, it has ups and downs.</p>
        <img src="/img/conversation/nikolina-bzona-snowboard-sljeme-new-life-black-hoodie.webp" alt="tirecalli-picture" />
        <p class="article__question">
          What is each one of your motivations, to stay in the sport, ofc except the love for it? Even more so, with the small scene in Croatia?
        </p>
        <p>
          For me, feeling when you land a trick with style and at same time it is filmed on camera is THE BEST thing that cannot replace anything. Without that
          I would quit snowboarding a long time ago.
        </p>
        <p>
          Even though the scene is small in Croatia it is beautiful to be part of it, hopefully, we will have new generations and my goal is to bring this
          beautiful sport closer to people of Croatia.
        </p>
        <div class="article-images">
          <img src="/img/conversation/iva-bzona-snowboard-sljeme-mint-moth-hoodie.webp" alt="tirecalli-picture" />
          <img src="/img/conversation/iva-bzona-snowboard-sljeme-mint-moth-hoodie-2.webp" alt="tirecalli-picture" />
        </div>
        <p class="article__question">So, what is the Croatian snowboarding community like?</p>
        <p>
          Usually, when people first come to the community they are like: „oh look at them they are arrogant and presumptuous “, but when you come in and get to
          know all of the people they will help you to improve your snowboarding skills and soon before you realized it, you will be a part of Snowboard
          community.
        </p>
        <p class="article__question">
          Can you see room for improvement and what would it take? Would you be the instigators, leaders, and supporters? Or you already are?
        </p>
        <p>
          Oh, of course, there is always a place for improvement, we are planning to do a better park next year (add more easy obstacles) and have lot of ideas
          for sessions. We are planning one session just for kids and one session as a competition for riders from Europe. You know how they say, break a leg.
          :D
        </p>
        <p class="article__intro">
          Ok, let us now switch to warmer topics so to speak; hot weather calls for a different kind of board, right? Are you riding or have you thought about
          kitesurfing or wakeboarding? Also, the asphalt cruise, skateboard, and longboard?
        </p>
        <p>
          Once you try this board you will never get off it :D When there is no snow, we must replace it so other boards are very welcome. Wakeboarding is
          amazing! It is like a snowboard, but it is on water, somehow it sounds easier, but you would be surprised! It can hurt a lot. :') Feeling of doing
          tricks on wake is almost the same as snowboarding. So, I would recommend it to anyone!
        </p>
        <p>Let’s focus on longboard and talk about the Cruising Ladies.</p>
        <p class="article__question">Concluding from the name, you are an all girl crew right?</p>
        <h5>Iva</h5>
        <p>
          Yes, we are. Originally formed out of 6 girls, most of whom met up while snowboarding. Now we have some extra members but funnily enough, most of the
          additional girl members also shred during Winter. Of course, our goal is to promote this among women and organize cruises for all the girls who wanna
          join, simply hang out, travel, learn and improve skills and have a good time.
        </p>
        <p class="article__question">Is there a reason behind the decision, or was it organic? Do you just cruise, or are some of you also riding downhill?</p>
        <p>
          As I mentioned in the beginning, the reason was to keep „the spark“ alive in non-winter months. What do you do when snowboarding season ends? Fall
          into depression. Just kidding. You hop on another board, and as Nikolina mentioned, wakeboarding is also really cool thing to do but longboarding is
          something you can do literally every day, in your lunch break, during your trip to work, go cruising instead of coffee, hang out casually, cruise and
          joke around and it does not cost a thing (except for a few ankles and knees :D)
        </p>
        <p>
          Some of the girls have tried downhill, some of them are planning to. It was a big wish of ours to try this one out as a crew, but it takes a bit more
          preparation, proper equipment, a bit of knowledge and advice from more experienced downhill riders. As we can see and hear from our downhill friends,
          it is fun and really rewarding, adrenalin wise.
        </p>
        <video class="vid__squared" src="https://res.cloudinary.com/snsa-kscc/video/upload/cruising-ladies.mp4" controls playsinline></video>
        <p class="article__question">Where do you cruise in Zagreb, or is this a concept with no space and time, so to say?</p>
        <p>
          We started mostly on lake Jarun , as everybody knows, it is a place for recreation, you can have a nice chill cruise without much worries of the
          traffic, we always ended or started it with a little picnic, some music, some other sport alongside, like slackline of frisbee. We would also do a bit
          of practicing and skating in the skatepark, try some new stuff out, hang out with the friends and people you meet there. It is always a good vibe
          there. Sometimes we would go to the city, cruise around the city center, have a night out, have fun on the empty night streets of Zagreb. But mostly
          it is a concept with no space and time, like you said. Somebody just hits you up with a „wanna go“ question, and you just meet up somewhere, cruise
          around, try to learn new tricks along the way.
        </p>
        <img src="/img/conversation/cruising-ladies-2.webp " alt="tirecalli-picture" />
        <p class="article__question">What is the concept behind Cruising Ladies?</p>
        <p>
          The concept is more of a lifestyle and a vibe. This is not just a sport for us, it is not just something we do while waiting for the real sport to
          begin in the winter. Original Cruising ladies were a really diverse group of ladies in the age range around 20-27 (then), all very similar but very
          different. Each contributed to the group in her own way. We had a lot of different hobbies and traits which made us learn a lot ff new stuff from each
          other. The thing that bound us together was this lifestyle that gave us all some kind of purpose and a sense of belonging, especially during corona
          times. We started cruising, going to events, having these daily picnics, meetups, trips, skatepark sessions. We also traveled together a lot, cruised
          on the coast, had cool experiences in the new places. You see the different perspectives of the places when you cruise through them. We went
          wakeboarding together, as well. So basically, we just switch boards and feel happy while being on one. :) Of course, it would be cool to develop these
          skills more and turn it into a more serious thing as well, we are working on it!
        </p>
        <p>
          I think the most important thing is to have and feel passion while doing something because it makes you feel happy and fulfilled. There is always room
          for progress, but it is what keeps you going and gives you the thrill.
        </p>
      </article>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
    <script>
      import { gsap, ScrollTrigger } from "gsap/all";
      gsap.registerPlugin(ScrollTrigger);
      gsap.from(".feature__description", { opacity: 0, duration: 1.5, ease: "power2.in", y: 50 });
      gsap.from(".feature img", { opacity: 0, duration: 1, y: -50 });
      gsap.utils.toArray("article img").forEach((panel, i) => {
        gsap.from(panel, {
          scrollTrigger: {
            trigger: panel,
            start: "top 75%",
          },
          y: 50,
          opacity: 0,
          duration: 1,
        });
      });
    </script>
    <style>
      .inherit {
        height: inherit;
      }
      .orange {
        color: orange;
      }
      .inline {
        display: inline-block;
        padding: 0.4rem;
        background: var(--base-color);
      }
    </style>
  </body>
</html>
