---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Death Moth Coolection"
    url="https://tirecalli.com/death-moth"
    description="Our first collection which came to life from a T-Shirt we created for Bike Polo Zagreb and their fourth international bike polo tournament - Zagreb International 2016."
  />
  <body class="products">
    <Header />
    <main>
      <section class="cards">
        <a href="/Fight-Fire-With-Fire-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/Fight-Fire-With-Fire-T-Shirt/girl-in-white-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>Fight Fire With Fire T-Shirt</h5>
            <div class="card__description">
              <p>20€</p>
            </div>
          </article>
        </a>
        <a href="/Mint-Moth-Hoodie/">
          <article>
            <div class="card__image">
              <img src="/img/Mint-Moth-Hoodie/girl-in-mint-hoodie.webp" alt="tirecalli-picture" />
            </div>
            <h5>Mint Moth Hoodie</h5>
            <div class="card__description">
              <p>40€</p>
            </div>
          </article>
        </a>
        <a href="/Reflective-Calli-Crewneck/">
          <article>
            <div class="card__image">
              <img src="/img/Reflective-Calli-Crewneck/girl-in-a-white-crewneck-with-reflectivew-detail.webp" alt="tirecalli-picture" />
            </div>
            <h5>Reflective Calli Crewneck</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
