---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head title="Tire Calligraphy - Sale" url="https://tirecalli.com/sale" />
  <body class="products">
    <Header />
    <main>
      <section class="cards">
        <a href="/Fight-Fire-With-Fire-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/Fight-Fire-With-Fire-T-Shirt/girl-in-white-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>Fight Fire With Fire T-Shirt</h5>
            <div class="card__description">
              <p>20€</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Gray-T-Shirt/">
          <article>
            <div class="card__image">
              <img class="four-five-ratio" src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Gray T-Shirt</h5>
            <div class="card__description">
              <p>60€</p>
            </div>
          </article>
        </a>
        <div></div>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
