---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Shop"
    url="https://tirecalli.com/shop"
    description="199144 and New Life are a Tire Calligraphy ongoing experimental project. We experiment with material, color, shapes and cuts. Every item is a neutral gender item."
  />
  <body class="products one-nine-nine-four-four">
    <Header />
    <main>
      <section class="shop-section">
        <img class="shop-img aspect-ratio aspect-ratio-revert" src="/img/crypto-kids-cover.webp" alt="tirecalli-picture" />
        <div class="shop-text">
          <h4>CRYPTO KIDS</h4>
        </div>
      </section>
      <section class="cards">
        <a href="/Hybrid-Jacket/">
          <article>
            <div class="card__image">
              <img src="/img/Hybrid-Jacket/girl-in-hybrid-jacket-3.webp" alt="tirecalli-picture" />
            </div>
            <h5>Hybrid Jacket</h5>
            <div class="card__description">
              <p>500€</p>
            </div>
          </article>
        </a>
        <a href="/Basic-Denim-Overall-Pant/">
          <article>
            <div class="card__image">
              <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" />
            </div>
            <h5>Basic Denim Overall Pant</h5>
            <div class="card__description">
              <p>375€</p>
            </div>
          </article>
        </a>
        <a href="/Basic-Denim-Jacket/">
          <article>
            <div class="card__image">
              <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" alt="tirecalli-picture" />
            </div>
            <h5>Basic Denim Jacket</h5>
            <div class="card__description">
              <p>350€</p>
            </div>
          </article>
        </a>
        <a href="/Black-Quilted-Jacket/">
          <article>
            <div class="card__image">
              <img src="/img/Black-Quilted-Jacket/man-in-black-quilted-jacket-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>Black Quilted Jacket</h5>
            <div class="card__description">
              <p>200€</p>
            </div>
          </article>
        </a>
      </section>
      <section class="cards">
        <a href="/Black-TC-Tote-bag/">
          <article>
            <div class="card__image">
              <img src="/img/Black-TC-Tote-bag/girl-in-grey-tshirt-with-tote-bag-and-laptop.webp" alt="tirecalli-picture" />
            </div>
            <h5>Black TC Tote bag</h5>
            <div class="card__description">
              <p>50€</p>
            </div>
          </article>
        </a>
        <a href="/Dobokh-Parkha/">
          <article>
            <div class="card__image">
              <img src="/img/Dobokh-Parkha/girl-in-black-jacket-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>Dobokh Parkha</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
        <a href="/Dobokh-Pant/">
          <article>
            <div class="card__image">
              <img src="/img/Dobokh-Pant/womens-black-pant-with-belt-in-a-knot.webp" alt="tirecalli-picture" />
            </div>
            <h5>Dobokh Pant</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
      </section>
      <section class="shop-section">
        <img class="shop-img aspect-ratio aspect-ratio-revert" src="/img/new-life-cover.webp" alt="tirecalli-picture" />
        <div class="shop-text">
          <h4>NEW LIFE</h4>
        </div>
      </section>
      <section class="cards">
        <a href="/New-Life-Gray-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Gray T-Shirt</h5>
            <div class="card__description">
              <p>60€</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Black-T-Shirt/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-T-Shirt/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black T-Shirt</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
        <a href="/New-Life-Black-Hoodie/">
          <article>
            <div class="card__image">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front-cover.webp" alt="tirecalli-picture" />
            </div>
            <h5>New Life Black Hoodie</h5>
            <div class="card__description">
              <p>SOLD OUT</p>
            </div>
          </article>
        </a>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
