---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <h4>ovo je success</h4>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
