---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  main {
    padding-inline: 2em;
  }

  h2 {
    margin-top: 2em;
  }
</style>

<html>
  <Head title="Tire Calligraphy - Thank you" url="https://tirecalli.com/success" />
  <body>
    <Header />
    <main>
      <h2>Thank you for your purchase.</h2>
      <p>Your order has been received. You can expect it to arrive shortly.</p>
    </main>
    <Footer />
    <script src="../js/app.js"></script>
  </body>
</html>
