---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main class="conversation">
      <section class="feature">
        <img src="/img/conversation/girl-on-wall-parkour-movement-1.webp" alt="tirecalli-picture" />
        <div class="feature__description">
          <h4 class="text--white">Tena x TC – Parkour</h4>
          <h3>Matija for TC in conversation with Tena Vidović</h3>
        </div>
      </section>
      <article>
        <p class="article__intro">So, parkour. Or freerunning, as some call it, right? Correct me if I’m wrong.</p>
        <p>As I am practicing martial arts for quite some time now, the notion of ‘ultimate movement’ if I may call it this way, intrigues me very much.</p>
        <p>I’ve spent some time researching the skill.</p>
        <p>It is of French origins, right? The man, I really can’t recall the name ran on rooftops among other places.</p>
        <p>You’re not running on rooftops, or are you?</p>
        <p>
          …and I feel I would need to make a kind disclaimer, we of the TC crowd do not in any way condone this sort or risky behavior... but nevertheless it is
          a badass skill, in my book. So, let’s start.
        </p>
        <h4 class="article__greet">Hi Tena!</h4>
        <p class="article__question article__question--small-margin">Tena, why parkour?</p>
        <p>
          Honestly, I started just because I thought it was fun and different, but now as some years have passed and as I learned about the origins and met new
          people from the community, I realized there were many more reasons to do it than just it being fun.
        </p>
        <div class="article-images">
          <img src="/img/conversation/tena-parkour-3.webp" alt="tirecalli-picture" />
          <img src="/img/conversation/tena-parkour-coonversartion-shadow.webp" alt="tirecalli-picture" />
        </div>
        <p class="article__question">How did you start and where?</p>
        <p>
          I think we’ve all seen Parkour and Freerunning compilations on YouTube, and that’s how I stumbled across of it 6 years ago. During that time, I
          started training with my friend from middle school in 2016; we would just go out and do some easy precision jumps and vaults over some small brick
          walls. It just started with us jumping around our neighborhood, when we heard there was gonna be a Parkour workshop for beginners near our school so
          we went to check it out, and gathered some info on where we can train with others like us, and that was in Parkour škola, on Velesajam (Zagreb).
        </p>
        <p class="article__question">A silly question, I am sure, but I need to ask; aren’t you afraid of hurting yourself? And have you gotten hurt?</p>
        <p>
          Of course I am afraid, but the adrenaline and happiness after doing a jump you wanted to do for a long time makes me so happy its worth to feel a
          little uncomfortable sometimes. Accidents happen, of course, but we get through them pretty quickly.
        </p>
        <p class="article__question">
          I do know, from my short research I mentioned, there are special gyms, like polygons, where you can train safely, right? Special gyms? But there isn’t
          really a 100% appropriate space in Zagreb to train, is there? A parkour gym? A multidisciplinary space, if I may call it this way?
        </p>
        <p>
          Big indoor training spots are a dream of every traceur, since it makes learning some new vaults or flips much easier and helps with mental blocks that
          sometimes stop us from doing jumps. Unfortunately, there aren’t any gyms dedicated entirely to parkour in Croatia, which makes us very sad. We rarely
          train in gymnastics gyms and trampoline parks, because those are made for other sports, we can’t do as much as we want there.
        </p>
        <p>
          On the bright side, there is a Parkour park on the island of Krk which is an only outdoor parkour gym in our country, but its far away from Zagreb, so
          we go there rarely.
        </p>
        <img src="/img/conversation/tena-parkour-coonversartion-hero.webp" alt="tirecalli-picture" />
        <p class="article__question">Where are the spots where you train?</p>
        <p>
          As I have mentioned, we don’t really train indoors, but we’ve found many good training spots around Zagreb city center, so, outdoors, for example
          Savica and Ksaver. We are mostly looking for places with a bunch of walls and rails. Lack of indoor training spots doesn’t really affect our training
          anymore, since we got used to doing everything outside, which we actually prefer.
        </p>
        <p class="article__question">Who do you roll with? (pun intended)</p>
        <p>I like the pun, lol.</p>
        <p>
          I found a very warm and welcoming community in Parkour škola, then became close friends with some of them and now not only we train together, but we
          hang out too. I mostly hangout with people my age or a few years older, but trainers in Parkour škola are also very approachable and fun to hang out
          with. It’s especially heartwarming to see people on parkour JAMs, which are big community gatherings that happen a few times a year. They are most
          often organized in Zagreb, Rijeka, Zadar and Krk, and that's how we meet other parkour people from our or foreign countries. We always say, the more
          the merrier.
        </p>
        <video class="vid__squared" src="https://res.cloudinary.com/tire-calligraphy/video/upload/tc-x-tena-parkour-movement.mov" controls playsinline></video>
        <p class="article__question">Are you guys formed as a crew? Is there a community in Zagreb and Croatia?</p>
        <p>
          I guess you can call Parkour škola a team, but it’s more of a group training where you try to progress as an individual, and work on your strength and
          technique since there aren't any parkour competitions happening in Croatia, although they are popular abroad. I honestly don't like the idea of
          competing because I think progressing my skills for me is much more important than for a competition. It’s of course fun to watch those competitions
          and see some more popular parkour people do their stuff, but I don't think I would ever consider joining something like that myself.
        </p>
        <p class="article__question">What is the community like abroad?</p>
        <p>
          Parkour community is actually much bigger than people might think. In the last few years, the sport became more popular so some people decided to make
          a job out of it as influencers because of their amazing skills. That's kind of a controversial question since some people think it would be better if
          that wasn't a case, because it makes people sometimes question are they doing it because they actually like jumping and want to progress for
          themselves or for the fame and money. I honestly like the idea of it because of the world we live in and because of how much we use Internet for
          everything... it should get more hype online. Social media, especially Instagram helps us meet other traceurs and makes it easier to expand the
          community. For example, I met a really nice girl from UK and I will meet her this Summer for some parkour sessions in London. People sometimes even
          reach out to us because they are coming to Zagreb and want to explore parkour spots here and train with someone new.
        </p>
        <p class="article__question">For how long have you been practicing parkour and what does the training look like?</p>
        <p>I've been practicing parkour since 2016, so for 6 years, even though I feel like it’s been much shorter, but time passes by really fast.</p>
        <p class="article__question">
          Do you guys just kinda meet and hang, so to say, like just, rolling around, having fun? ...looking at some of your videos, it looks like ultimate fun.
          But I am sure, there is a process behind it?
        </p>
        <p>
          I guess the training depends on how much people are attending. When there is just a few of us, we usually have a nice chill session and then sometimes
          coffee afterwards, but when there is a bunch of people there, for example JAMs I feel like our energy kind of rises and we're all jumping like crazy
          and our motivation rises. Our training starts with a warm up, so running or quadrupedal (on all fours) and then we decide if we're gonna do some easy
          flow around the spot or some bigger jumps like long precisions or running precisions. Whatever we're doing, we're always hyping each other up, giving
          each other tips for a better technique and helping if someone gets injured.
        </p>
        <img src="/img/conversation/tena-parkour-2.webp" alt="tirecalli-picture" />
        <p class="article__question">Would you care to share your thoughts on the process, training routine?</p>
        <p>
          Our training routine is almost the same every time, as I've said, a warmup, jumping and rolling and then stretching so we avoid muscle soreness.
          Sessions are most often happening during the day, but we also jump at night, which makes us a little more nervous. My favorite time to practice is in
          the morning or later afternoon, on the days I'm not busy with school or other hobbies so I can put all of my concentration in to jumping.
        </p>
        <p class="article__question">Have you thought about incorporating additional routines, practices to improve your skill?</p>
        <p>
          Most of us just do some strength exercises, since it makes jumping much easier, especially for arms and legs. If I had more spare time, I would
          honestly try gymnastics or break dance since those sports have some similar moves and I think it would step up my parkour game for a bit. But I'm fine
          with just this because I've never felt such a passion for a sport before.
        </p>
        <img src="/img/conversation/tena-tire-calligraphy-parkour-movement.webp" alt="tirecalli-picture" />
        <p class="article__question">
          It looks like super fun and easy, at first glimpse, but I am aware, it is always so with every discipline when I look at a person who is good at it,
          almost a master of the art so to say, what do you think?
        </p>
        <p>
          I think it definitely needs some time and patience to start feeling a little more confident about doing jumps, because most of it are just mental
          blocks. Even though some vaults or bigger jumps need more time and require more strength I think progressing in flow and making the moves you're doing
          feel connected and flow like water can be learned much quicker. It’s just getting to know how to connect certain moves smoothly.
        </p>
        <div class="article-images">
          <img src="/img/conversation/tena-parkour.webp" alt="tirecalli-picture" />
          <img src="/img/conversation/girl-on-wall-parkour.webp" alt="tirecalli-picture" />
        </div>
        <p class="article__question">Do you consider it being an ultimate form of movement?</p>
        <p>
          Definitely yes. Parkour is a skill that requires every part of the body to move constantly, every muscle and every limb is important at all times,
          which makes us much stronger but much more tired.
        </p>
        <img src="/img/conversation/girl-on-rail-parkour-movement.webp " alt="tirecalli-picture" />
        <p class="article__question">Do you just “free run” (or run free) in urban settings or do you do it in nature as well?</p>
        <p>
          Our training can literally happen anywhere. On a bench, on some walls or climbing trees. Of course, we most often practice in urban settings because
          we live in Zagreb, but it excites us to change that up a bit sometimes. We really enjoy some training in nature, specifically on trees with a bunch of
          branches for some precision jumps or laches.
        </p>
        <p class="article__question">
          To sum it up, how would you describe the mental state you find yourself in while practicing? Have you given it some thought? The process is really
          interesting for me, the connection of body and mind, would you say you are in some special sphere? A bubble which protects you? A zone?
        </p>
        <p>
          It honestly depends on how I'm feeling outside of parkour. Most of the time it’s kind of an escape from reality and it relaxes the body and thoughts
          but sometimes, speaking now, just how I relieve it if I'm in a really bad headspace it can be a little bit tricky since its sometimes a little
          frustrating if mentally, I can't make myself do a jump I want to. But that happens really rarely so I would say it definitely helps with mental
          health.
        </p>
        <p class="article__question">Tena, if a person wants to try parkour, or practices already, how can one get in touch?</p>
        <p>
          It's best to hit us up via our
          <a href="https://www.facebook.com/parkourskolahr/" target="_blank" rel="noopener noreferrer">Facebook page Parkour Škola</a>.
        </p>
      </article>
    </main>
    <Footer />
    <script is:inline src="https://unpkg.com/gsap/dist/gsap.min.js"></script>
    <script is:inline src="https://unpkg.com/gsap/dist/ScrollTrigger.min.js"></script>
    <script is:inline src="/js/app.js"></script>
    <script is:inline>
      gsap.registerPlugin(ScrollTrigger);
      gsap.from(".feature__description", { opacity: 0, duration: 1.5, ease: "power2.in", y: 50 });
      gsap.from(".feature img", { opacity: 0, duration: 1, y: -50 });
      gsap.utils.toArray("article img").forEach((panel, i) => {
        gsap.from(panel, {
          scrollTrigger: {
            trigger: panel,
            start: "top 75%",
          },
          y: 50,
          opacity: 0,
          duration: 1,
        });
      });
    </script>
  </body>
</html>
