---
import TirecalliLogo from "./TirecalliLogo.astro";
---

<footer>
  <div class="footer__section">
    <TirecalliLogo />
  </div>
  <div class="footer__section footer__section--block">
    <p>Be first to know, get updated on collections and inspiration.</p>
    <p>Sign up and get 10% off your first purchase.</p>
    <form id="newsletterForm" class="footer__group">
      <input type="email" name="email" placeholder="Email" required />
      <button type="submit">Subscribe</button>
    </form>
    <p class="footer__item opacity-hidden" id="loadingIndicator"></p>
    <p class="footer__item opacity-hidden" id="formResponse"></p>
  </div>
  <div class="footer__section">
    <nav>
      <ul>
        <li>
          <a href="https://www.instagram.com/tirecalligraphy/" target="_blank" rel="noopener noreferrer">Instagram</a>
        </li>
        <li>
          <a href="https://www.pinterest.com/tirecalligraphy/" target="_blank" rel="noopener noreferrer">Pinterest</a>
        </li>
        <li>
          <a href="https://open.spotify.com/user/45x6aikpn8hg9ziczww1q5gku?si=b1c846b98b824752&nd=1" target="_blank" rel="noopener noreferrer">Spotify</a>
        </li>
        <li><a href="/legal">Legal</a></li>
        <li><a href="/cookie-policy">Cookie policy</a></li>
      </ul>
    </nav>
  </div>
</footer>
<dialog id="newsletterModal">
  <button id="modalClose" class="close-modal"></button>
  <div class="dialog__item dialog__item--image">
    <TirecalliLogo />
  </div>
  <div class="dialog__item dialog__item--content">
    <p>Sign up to receive 10% off your first order.</p>
    <form id="modalNewsletterForm" class="mt">
      <input type="email" name="email" placeholder="Email" required />
      <button type="submit">Subscribe</button>
    </form>
    <p class="mt opacity-hidden" id="modalLoadingIndicator"></p>
    <p class="mt opacity-hidden" id="modalFormResponse"></p>
    <p class="mt text--sm">By signing up, I agree to receive email marketing.</p>
  </div>
</dialog>
<div id="consentPopup" class="cookie-policy disabled">
  <p>We use cookies and we hope you are OK with that.</p>
  <button id="acceptBtn">OK</button>
  <button id="rejectBtn">Not OK</button>
</div>
