---
import { CartIcon } from "./CartIcon";
---

<!-- Google Tag Manager (noscript) -->
<noscript></noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
<!-- End Google Tag Manager (noscript) -->
<header id="header">
  <div id="logo" class="logo"><a href="/">Tire Calligraphy</a></div>
  <div class="burger" id="burger">
    <div class="line1" id="line1"></div>
    <div class="line2" id="line2"></div>
  </div>
  <nav id="menu">
    <ul>
      <li><a href="/199144">199144</a></li>
      <li><a href="/new-life">New Life</a></li>
      <li><a href="/sale">Sale</a></li>
      <li><a href="/campaign">Campaign</a></li>
      <li><a href="/conversations">Conversations</a></li>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/about">About</a></li>
      <a href="/cart"><div class="cart"></div></a>
      <CartIcon client:only='react' />
    </ul>
  </nav>
</header>

<style>
  .cart {
    margin-right: 1rem;
  }
</style>
