---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Buttons } from "../../components/Buttons";

const buttons = [
  { id: 402, size: "M" },
  { id: 404, size: "XL" },
];
---

<html>
  <Head
    title="Tire Calligraphy - Black Quilted Jacket"
    url="https://tirecalli.com/black-quilted-jacket/"
    description="Primarily envisioned as an inner layer, this one will serve your style as an outer layer as well. Created true to size. A neutral-gender item."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1"
              ><img src="/img/Black-Quilted-Jacket/black-quilted-jacket-close-up.webp" alt="tirecalli-picture" />
              <div class="product__exclusive bold text--white"><p>WEB EXCLUSIVE</p></div>
            </a>
            <a href="details.html#photo-2"
              ><img src="/img/Black-Quilted-Jacket/girl-in-black-quilted-jacket-close-up.webp" alt="tirecalli-picture" />
              <div class="product__exclusive bold"><p>WEB EXCLUSIVE</p></div>
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3"
              ><img src="/img/Black-Quilted-Jacket/girl-in-black-quilted-jacket-side.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-4"
              ><img src="/img/Black-Quilted-Jacket/man-in-black-quilted-jacket-back.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-5"
              ><img src="/img/Black-Quilted-Jacket/man-in-black-quilted-jacket-front.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <div></div>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>BLACK QUILTED JACKET</h2>
            <h2>199144</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 80€</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to bag</p>
          </div>
          <div class="product__item product__item--sizes">
            <Buttons client:load items={buttons} />
          </div>
          <div class="product__item product__item--description">
            <p>
              This item can be worn as a standalone protector from cold or can be styled two ways with TC Basic Denim Jacket. Primarily envisioned as an inner
              layer, this one will serve your style as an outer layer as well. Created true to size.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--panel-1">
                  <ul class="accordion__list accordion-panel-1__list">
                    <li>A gender-neutral cut</li>
                    <li>2 pocket design: 2 front pockets, serving as inner pockets when connected with the TC Basic Denim Jacket</li>
                    <li>Color: Black</li>
                    <li>Material: 100% polyester fiber (110 g, 3.9.oz)</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--panel-2">
                  <ul class="accordion__list accordion-panel-2__list">
                    <li>Karla is wearing size S and is 165cm/5.4 ft tall</li>
                    <li>Boban is wearing L and is 187cm /6.13 ft tall</li>
                    <li>Relaxed, but true to size fit, you can size up or size down</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--panel-3">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/Basic-Denim-Overall-Pant/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Overall Pant</h5>
            </div>
          </a>
          <a href="/Basic-Denim-Jacket/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Jacket</h5>
            </div>
          </a>
          <a href="/Sand-Brown-Licitar-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/Sand-Brown-Licitar-T-Shirt/girl-in-sand-brown-licitar-t-shirt-back.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Sand Brown Licitar T-Shirt</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../../js/app.js"></script>
  </body>
</html>
