---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<html>
  <Head />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1"><img src="img/black-quilted-jacket-close-up.webp" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-2"><img src="img/girl-in-black-quilted-jacket-close-up.webp" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3"><img src="img/girl-in-black-quilted-jacket-side.webp" loading="lazy" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-4"><img src="img/man-in-black-quilted-jacket-back.webp" loading="lazy" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-5"><img src="img/man-in-black-quilted-jacket-front.webp" loading="lazy" alt="tirecalli-picture" /></a>
            <div></div>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>BLACK QUILTED JACKET</h2>
            <h2>199144</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 200 eur</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to basket</p>
          </div>
          <div class="product__item product__item--sizes">
            <button
              id="buttonS"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=BLQZAE24ZFJJW"
              ;""
            >
              <span>S</span>
            </button>
            <button
              id="buttonM"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=AMQN5P8XDC7HQ"
              ;""
            >
              <span>M</span>
            </button>
            <button
              id="buttonL"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=6H8KWR9TK9T94"
              ;""
            >
              <span>L</span>
            </button>
            <button
              id="buttonXL"
              class="button button--size button--flex"
              onclick="window.location.href="
              https:
              www.paypal.com
              cgi-bin
              webscr?cmd="_s-xclick&hosted_button_id=GL9TLVKGG2LRG"
              ;""
            >
              <span>XL</span>
            </button>
          </div>
          <!-- <div class="product__item product__item--sizing-chart">
                            <div class="btn-area">
                                <label class="btn" for="open-pop">Sizing Chart</label>
                            </div>
                            <div class="pop-area">
                                <input class="modal-state" id="open-pop" type="checkbox" />
                                <div class="modal">
                                    <label class="modal_bg" for="open-pop"></label>
                                    <div class="modal_inner">
                                        <label class="modal_close" for="open-pop"></label>
                                        <table>
                                            <tr>
                                                <th colspan="3">Dobokh Parka</th>
                                            </tr>
                                            <tr>
                                                <td>cm / in</td>
                                                <td>XS / S</td>
                                                <td>S / M</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Shoulder</td>
                                                <td>59 / 23.2</td>
                                                <td>63 / 24.8</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Body</td>
                                                <td>55 / 21.7</td>
                                                <td>67 / 23.4</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Length</td>
                                                <td>80 / 31.5</td>
                                                <td>82 / 32.3</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> -->
          <div class="product__item product__item--description">
            <p>
              This item can be worn as a standalone protector from cold or can be styled two ways with TC Basic Denim Jacket. Primarily envisioned as an inner
              layer, this one will serve your style as an outer layer as well. Created true to size.
            </p>
            <!-- <p class="mt">To pre-order sizes S or XL, contact us using a form <a href=/about.html>here &rsaquo;.</a></p> -->
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--details">
                  <ul class="accordion__list accordion-details__list">
                    <li>A gender-neutral cut</li>
                    <li>2 pocket design: 2 front pockets, serving as inner pockets when connected with the TC Basic Denim Jacket</li>
                    <li>Color: Black</li>
                    <li>Material: 100% polyester fiber (110 g, 3.9.oz)</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--size">
                  <ul class="accordion__list accordion-size__list">
                    <li>Karla is wearing size S and is 165cm/5.4 ft tall</li>
                    <li>Boban is wearing L and is 187cm /6.13 ft tall</li>
                    <li>Relaxed, but true to size fit, you can size up or size down</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--shipping">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal.html">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <!-- <section class="explore">
                    <h2>Explore the Dobokh Parkha</h2>
                    <p class="explore__copy">A simplicity of a minimal black jacket.</p>
                    <p class="explore__copy">Adjusting the belt strap lets you play with the symmetry of the front side.</p>
                    <p class="explore__copy">Unzipping the sleeves enables additional wearing technique to emerge.</p>
                    <div class="explore__group">
                        <div class="explore__item">
                            <img src="/img/campaign/black-dobokh-parka-with-hood-mens-front.webp" alt="tirecalli-picture" loading="lazy" />
                        </div>
                        <div class="explore__item">
                            <p class="explore__copy--middle">
                                Following the postulate of fluidity and flexibility the intention was set to create items which can be used for more than one purpose and
                                situation.
                            </p>
                            <p class="explore__copy--middle">
                                With a vision of neutral, universal items in mind,
                                <span class="bold">199144</span> will spread through the seasons not constrained by time, location or fashion trends.
                            </p>
                            <p class="explore__copy--middle">Every item offered is a neutral gender item.</p>
                        </div>
                        <div class="explore__item">
                            <img src="/img/campaign/girl-in-black-dobokh-parkha-back.webp" alt="tirecalli-picture" loading="lazy" />
                        </div>
                    </div>
                </section> -->
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/Basic-Denim-Overall-Pant/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Overall Pant</h5>
            </div>
          </a>
          <a href="/Basic-Denim-Jacket/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Jacket</h5>
            </div>
          </a>
          <a href="/New-Life-Black-T-Shirt/">
            <div class="upsell__item">
              <img src="/New-Life-Black-T-Shirt/img/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black T-Shirt</h5>
            </div>
          </a>
          <a href="/New-Life-Black-Hoodie/">
            <div class="upsell__item">
              <img src="/New-Life-Black-Hoodie/img/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black Hoodie</h5>
            </div>
          </a>
          <a href="/New-Life-Gray-T-Shirt/">
            <div class="upsell__item">
              <img src="/New-Life-Gray-T-Shirt/img/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Gray T-Shirt</h5>
            </div>
          </a>
          <a href="/Reflective-Calli-Crewneck/">
            <div class="upsell__item">
              <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Reflective Calli Crewneck</h5>
            </div>
          </a>
          <a href="/Fight-Fire-With-Fire-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/Fight-Fire-With-Fire-T-Shirt/white-tshirt-side-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Fight Fire With Fire T-Shirt</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
