---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Buttons } from "../../components/Buttons";

const buttons = [
  { id: 302, size: "S" },
  { id: 303, size: "M" },
  { id: 304, size: "L" },
  { id: 305, size: "XL" },
];
---

<html>
  <Head
    title="Tire Calligraphy - Denim Jacket"
    url="https://tirecalli.com/basic-denim-jacket/"
    description="A basic denim jacket. Crafted from raw black denim, fitted oversized with 90s hip hop scene as an inspo. A neutral-gender item."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <a href="details.html#photo-1"><img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-and-denim-pants-2.webp" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-2"><img src="/img/Basic-Denim-Jacket/basic-denim-jacket-front-detail.webp" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-3"><img src="/img/Basic-Denim-Jacket/basic-denim-jacket.webp" loading="lazy" alt="tirecalli-picture" /></a>
            <a href="details.html#photo-4"
              ><img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-and-denim-pants-back.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
          </div>
          <div class="product__figures"></div>
          <div class="product__figures">
            <a href="details.html#photo-5"
              ><img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-and-denim-pants.webp" loading="lazy" alt="tirecalli-picture" />
            </a>
            <a href="details.html#photo-6"><img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket-back.webp" loading="lazy" alt="tirecalli-picture" /></a>
          </div>
          <div class="product__figures">
            <a href="details.html#photo-7"><img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" loading="lazy" alt="tirecalli-picture" /></a>
            <div></div>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>BASIC DENIM JACKET</h2>
            <h2>199144</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: <s>350€</s> 210€</p>
          </div>
          <div class="product__item product__item--sale-description"><p>Drip Day exclusive -50%</p></div>
          <div class="product__item product__item--size-select">
            <p>Select your size and add to bag</p>
          </div>
          <div class="product__item product__item--sizes">
            <Buttons client:load items={buttons} />
          </div>
          <div class="product__item product__item--description">
            <p>
              A basic denim jacket. Crafted from raw black denim, fitted oversized with 90s hip hop scene as an inspo. Can be worn as a single item, enriching
              your style through warmer months of early Spring and Fall or can be layered with TC Black Quilted Jacket as an inner or outer layer.
            </p>
            <!-- <p class="mt">To pre-order size S, contact us using a form <a href=/about.html>here &rsaquo;.</a></p> -->
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--details">
                  <ul class="accordion__list accordion-details__list">
                    <li>A gender-neutral cut</li>
                    <li>4 pocket design: 2 chest pockets, 2 side pockets</li>
                    <li>Color: Black</li>
                    <li>Material: 100% raw denim cotton (550 g, 19.4oz)</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--size">
                  <ul class="accordion__list accordion-size__list">
                    <li>Karla is wearing size S and is 165cm/5.4 ft tall</li>
                    <li>Boban is wearing L and is 187cm /6.13 ft tall</li>
                    <li>Loose, oversized fit, you can size up or size down</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--shipping">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/Basic-Denim-Overall-Pant/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Overall Pant</h5>
            </div>
          </a>
          <a href="/Black-Quilted-Jacket/">
            <div class="upsell__item">
              <img src="/img/Black-Quilted-Jacket/man-in-black-quilted-jacket-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Black Quilted Jacket</h5>
            </div>
          </a>
          <a href="/New-Life-Black-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/New-Life-Black-T-Shirt/man-in-new-life-black-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black T-Shirt</h5>
            </div>
          </a>
          <a href="/New-Life-Black-Hoodie/">
            <div class="upsell__item">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black Hoodie</h5>
            </div>
          </a>
          <a href="/New-Life-Gray-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/New-Life-Gray-T-Shirt/man-in-new-life-gray-tshirt-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Gray T-Shirt</h5>
            </div>
          </a>
          <a href="/Reflective-Calli-Crewneck/">
            <div class="upsell__item">
              <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Reflective Calli Crewneck</h5>
            </div>
          </a>
          <a href="/Fight-Fire-With-Fire-T-Shirt/">
            <div class="upsell__item">
              <img src="/img/Fight-Fire-With-Fire-T-Shirt/white-tshirt-side-detail-upsale.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Fight Fire With Fire T-Shirt</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script is:inline src="/js/app.js"></script>
  </body>
</html>
