---
import Head from "../../components/Head.astro";
---

<html>
  <Head />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1"><img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant.webp" alt="tirecalli-picture" /></section>
    <section id="photo-2">
      <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-back.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-3"><img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-4">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-back-pocket-detail.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-5">
      <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-second-styling-detail.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-6">
      <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-second-styling.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-7">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-second-styling.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-8">
      <img src="/img/Basic-Denim-Overall-Pant/man-in-basic-denim-overall-pant-second-styling.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-9">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-second-styling-inner-pockets.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-10">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-second-styling-inner-pockets-reveal.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-11">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-second-styling-detail.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-12">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-strap-buckle-detail.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-13"><img src="/img/Basic-Denim-Overall-Pant/man-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-14">
      <img src="/img/Basic-Denim-Overall-Pant/basic-denim-overall-pant-strap-detail.webp" alt="tirecalli-picture" loading="lazy" />
    </section>
    <section id="photo-15"><img src="/img/Basic-Denim-Overall-Pant/man-in-basic-denim-overall-pant.webp" alt="tirecalli-picture" loading="lazy" /></section>
  </body>
</html>
