---
import Head from "../../components/Head.astro";
---

<html>
  <Head />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1"><img src="img/girl-in-a-white-crewneck-with-reflectivew-detail.webp" alt="tirecalli-picture" /></section>
    <section id="photo-2"><img src="img/white-reflective-crewneck-back-detail-dark.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-3"><img src="img/white-reflective-crewneck-back-detail.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-4"><img src="img/white-reflective-crewneck-back.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-5"><img src="img/white-reflective-crewneck-front.webp" alt="tirecalli-picture" loading="lazy" /></section>
  </body>
</html>
