---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<html>
  <Head
    title="Tire Calligraphy - Reflective Calli Crewneck"
    url="https://tirecalli.com/reflective-calli-crewneck/"
    description="A first piece in our new 199144 collection. Inspired by Japanese culture and its minimalism and a sense of calm. A neutral-gender item. With a vision of neutral, universal items in mind, 199144 will spread through the seasons not constrained by time, location or fashion trends."
  />
  <body>
    <Header />
    <main>
      <article class="product">
        <aside class="product__aside">
          <div class="product__figures">
            <img src="/img/Reflective-Calli-Crewneck/girl-in-a-white-crewneck-with-reflectivew-detail.webp" alt="tirecalli-picture" />
            <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail-dark.webp" alt="tirecalli-picture" />
          </div>
          <div class="product__figures">
            <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back-detail.webp" loading="lazy" alt="tirecalli-picture" />
            <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-back.webp" loading="lazy" alt="tirecalli-picture" />
          </div>
          <div class="product__figures">
            <img src="/img/Reflective-Calli-Crewneck/white-reflective-crewneck-front.webp" alt="tirecalli-picture" loading="lazy" />
            <div></div>
          </div>
        </aside>
        <section class="product__info">
          <div class="product__item">
            <h2>Reflective Calli Crewneck</h2>
          </div>
          <div class="product__item product__item--price">
            <p>Price: 45€</p>
          </div>
          <div class="product__item product__item--size-select">
            <p>SOLD OUT</p>
          </div>
          <div class="product__item product__item--description">
            <p>
              This gender neutral crew is a first piece in our new 199144 collection. With a vision of neutral, universal items in mind, 199144 will spread
              through the seasons not constrained by time, location or fashion trends.
            </p>
            <p>
              Inspired by Japanese culture and its minimalism and a sense of calm. With an ambition to be as plain and minimal as possible, it still provides
              much needed details revealed only by the second or third look, such as the "199144" white embroidered logo on the chest, or the full "Tire
              Calligraphy" logo in silver on the back, coming fully to life when "attacked" by a force of light, as it is a 3M reflective element.
            </p>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-1" />
                <label for="panel-1">Details</label>
                <div class="accordion__content accordion__content--panel-1">
                  <ul class="accordion__list accordion-panel-1__list">
                    <li>A gender-neutral cut</li>
                    <li>Back design - 3M reflective</li>
                    <li>Chest embroidery</li>
                    <li>Color: White</li>
                    <li>Material: 80% cotton fleece (300 g, 10.6oz), 20% polyester</li>
                    <li>Care: Machine-wash cold, warm (30°C)</li>
                    <li>Proudly created in Croatia from local craftswomen and men</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-2" />
                <label for="panel-2">Size & Fit</label>
                <div class="accordion__content accordion__content--panel-2">
                  <ul class="accordion__list accordion-panel-2__list">
                    <li>Iva is wearing size S and is 170cm/5.6 ft tall</li>
                    <li>True to size fit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--accordion">
            <div class="accordion">
              <div>
                <input type="checkbox" name="panel" id="panel-3" />
                <label for="panel-3">Shipping & Returns</label>
                <div class="accordion__content accordion__content--panel-3">
                  <div class="accordion__copy">
                    <p class="accordion__body">Standard shipping and 30-day returns.</p>
                    <p class="accordion__body">Return policy exclusions apply.</p>
                    <p class="accordion__body">
                      <a href="/legal">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <section class="upsell">
        <h2>You might also like</h2>
        <div class="upsell__group">
          <a href="/Basic-Denim-Overall-Pant/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Overall-Pant/girl-in-basic-denim-overall-pant-2.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Overall Pant</h5>
            </div>
          </a>
          <a href="/Basic-Denim-Jacket/">
            <div class="upsell__item">
              <img src="/img/Basic-Denim-Jacket/man-in-basic-denim-jacket.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>Basic Denim Jacket</h5>
            </div>
          </a>
          <a href="/New-Life-Black-Hoodie/">
            <div class="upsell__item">
              <img src="/img/New-Life-Black-Hoodie/girl-in-black-new-life-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" />
              <h5>New Life Black Hoodie</h5>
            </div>
          </a>
        </div>
      </section>
    </main>
    <Footer />
    <script src="../../js/app.js"></script>
  </body>
</html>
