---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tire Calligraphy</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TVFQ3CN");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1"><img src="img/girl-in-upcycled-mint-crop-top.webp" alt="tirecalli-picture" /></section>
    <section id="photo-2"><img src="img/mint-hoodie-back.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-3"><img src="img/mint-hoodie-front.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-4"><img src="img/mint-hoodie-patch-detail.webp" alt="tirecalli-picture" loading="lazy" /></section>
  </body>
</html>
