---
import Head from "../../components/Head.astro";
---

<html>
  <Head />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1"><img src="img/girl-in-black-jacket-front.webp" alt="tirecalli-picture" /></section>
    <section id="photo-2"><img src="img/girl-in-black-jacket-short-slevees-front.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-3"><img src="img/girl-in-black-jacket-side-sleeves-hanging.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-4"><img src="img/girl-in-black-jacket-side.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-5"><img src="img/girl-with-jacket-on-shoulder-front.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-6"><img src="img/tire-calligraphy-black-parka-jacket-letters.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-7"><img src="img/man-in-black-jacket-front.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-8"><img src="img/man-in-black-jacket-side.webp" alt="tirecalli-picture" loading="lazy" /></section>
    <section id="photo-9"><img src="img/man-in-black-jacket-back-tire-calligraphy.webp" alt="tirecalli-picture" loading="lazy" /></section>
  </body>
</html>
