---
import Head from "../../components/Head.astro";
---

<html>
  <Head />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVFQ3CN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="photo-1">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/girl-in-pale-lemon-licitar-t-shirt-back.webp" alt="tirecalli-picture" />
    </section>
    <section id="photo-2">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/man-in-pale-lemon-licitar-t-shirt-front-body.webp" alt="tirecalli-picture" />
    </section>
    <section id="photo-3">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/man-in-pale-lemon-licitar-t-shirt-back.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-4">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/girl-in-pale-lemon-t-shirt-front.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-5">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/man-in-pale-lemon-ash-brown-licitar-combo-front.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-6">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/pale-lemon-t-shirt-front-detail.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-7">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/pale-lemon-licitar-t-shirt-front-logo-detail.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-8">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/pale-lemon-licitar-t-shirt-closeup.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-9">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/pale-lemon-licitar-t-shirt-back.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
    <section id="photo-10">
      <img src="/img/Pale-Lemon-Licitar-T-shirt/pale-lemon-licitar-t-shirt-front-logo-detail.webp" loading="lazy" alt="tirecalli-picture" />
    </section>
  </body>
</html>
